{# {% extends "govuk_template.html" %} #}
{% extends "govuk/template.njk" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
<p>{{'GOV.UK uses cookies to make the site simpler.'}} </p>
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block bodyStart %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}

{% block bodyEnd %}
{% endblock %}
