{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
    {% include "includes/page-title.njk" %}
{% endblock %}

{% block head %}
    {% include "includes/head.njk" %}
    {% for js in feComponents.jsIncludes %}
        <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}

    {% for css in feComponents.cssIncludes %}
        <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
{% endblock %}

{% block cookie_message %}
    <p>{{'GOV.UK uses cookies to make the site simpler.'}} </p>
{% endblock %}

{% block header %}
    {{ feComponents.header | safe }}
    <div class="govuk-width-container">
        {{ govukPhaseBanner({
            tag: {
                text: "Beta"
            },
            classes: 'maw-no-border',
            html: 'This is a new service - your <a class="govuk-link" href="mailto:manageaworkforce@justice.gov.uk">feedback</a> will help us to improve it.'
        }) }}
    </div>

    <div class="moj-primary-navigation">

        <div class="moj-primary-navigation__container">

            <div class="moj-primary-navigation__nav">

                <nav class="moj-primary-navigation" aria-label="Primary navigation">

                    <ul class="moj-primary-navigation__list">
                        {% if canAllocate %}
                            <li class="moj-primary-navigation__item">
                                <a class="moj-primary-navigation__link"
                                   href="{{ allocationsUrl }}">Allocations {% if unallocatedCaseCount %}
                                        <span id="notifications" class="moj-notification-badge">{{ unallocatedCaseCount | getCaseCount }}</span>
                                    {% endif %}</a>
                            </li>

                        {% if featureFlag %}
                            <li class="moj-primary-navigation__item">
                                <a class="moj-primary-navigation__link" href="{{ allocationsUrl }}/reallocations">Reallocations</a>
                            </li>
                        {% endif %}
                        {% endif %}
                        {% if canViewAdmin %}
                            <li class="moj-primary-navigation__item">
                                <a class="moj-primary-navigation__link" href="/admin" {% if onAdmin %} aria-current="page" {% endif%}>Admin</a>
                            </li>
                        {% endif %}

                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link" href="/probation/hmpps/0" {% if onOffenderManager %} aria-current="page" {% endif%}>Offender Management</a>
                        </li>

                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link" href="/omic/hmpps/0"  {% if onOmic %} aria-current="page" {% endif%}>OMIC</a>
                        </li>

                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link" href="/court-reports/hmpps/0"  {% if onCourtReports %} aria-current="page" {% endif%} id="courts-link">Courts</a>
                        </li>

                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link" href="/officer-search" id="search-link"  {% if onOfficerSearch %} aria-current="page" {% endif%}>Search</a>
                        </li>
                    </ul>

                </nav>

            </div>
        </div>

    </div>
{% endblock %}

{% block beforeContent %}
    {% include "includes/breadcrumbs.njk" %}

    {% set notification %}
        <p class="govuk-body">
            From 4pm on 25 September, the Workload Measurement Tool (WMT) will no longer be available.
            <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://justiceuk.sharepoint.com/sites/HMPPSIntranet-Probation/SitePages/Workload-measurement-tool-(WMT)-%E2%80%93-your-questions-answered.aspx?csf=1&web=1&e=H19Kam&or=WORD-WEB.BODY.NT&ct=1787916622028&CID=0e507950-5592-445d-a69d-f5008cef9d38">
                Read more about this change
            </a> (opens in a new tab).
        </p>
    {% endset %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukNotificationBanner({
                html: notification
            }) }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ feComponents.footer | safe }}
    {% include "includes/scripts.njk" %}
{% endblock %}

{% block bodyEnd %}
{% endblock %}
