

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

            {% ifAsync ((organisationLevel === 'region') or (organisationLevel === 'ldu') or (organisationLevel === 'team')) %}
                {% if authorisation===false or userRole==='System Admin' or userRole==='Data Admin' or userRole==='Manager'%}
                    <a href="/{{ workloadType }}/{{ organisationLevel }}/{{ linkId }}/{{ screen }}/reductions-csv" class="govuk-button reduction-export floatRightBottom10 marginLeft10" data-module="govuk-button">Export Reductions</a>
                {% endif %}
            {% endif %}
            {% ifAsync ((organisationLevel === 'hmpps') or (organisationLevel === 'region') or (organisationLevel === 'ldu') or (organisationLevel === 'team')) %}
                <a href="/{{ workloadType }}/{{ organisationLevel }}/{{ linkId }}/{{ screen }}/caseload-csv" class="govuk-button sln-export floatRightBottom10" data-module="govuk-button">Export Overview</a>
            {% endif %}
        </div>
</div>
        
    
    {% if organisationLevel === "offender-manager" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table" id="override-govuk-table">
                <tbody>
                    <tr>
                        <th class="bold" scope="row">Grade</th>
                        <td class="sln-grade numeric">{{ overviewDetails.grade }}</td>
                    </tr>
                    <tr>
                        <th class="bold" scope="row">Team</th>
                        <td class="numeric"><a href="/{{ workloadType }}/team/{{ overviewDetails.teamId }}">{{ overviewDetails.teamName }}</a></td>
                    </tr>
                    <tr>
                        <th class="bold" scope="row">Capacity</th>
                        {% if overviewDetails.capacity > 110 %}
                        <td class="numeric capacity-red"> {{ overviewDetails.capacity | round }}%</td>
                        {% else %}
                        <td class="numeric"> {{ overviewDetails.capacity | round }}%</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="bold" scope="row">Cases</th>
                        <td class="numeric">{{ overviewDetails.cases }}</td>
                    </tr>
                    <tr>
                        <th class="bold" scope="row">Contracted hours</th>
                        <td class="numeric">{{ overviewDetails.contractedHours }}</td>
                    </tr>
                    <tr>
                        <th class="bold" scope="row">Reduction</th>
                        <td class="numeric">{{ overviewDetails.reduction }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    
    <table id="example" class="govuk-table js-data-table data-table dataTable width100Percent" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
        <thead>
            <tr>
                {% if organisationLevel === 'team' %}
                <th class="sln-table-org-level" id="om" colspan="2">{{ childOrganisationLevelDisplayText }}</th>
                {% else %}
                <th class="sln-table-org-level" id="om">{{ childOrganisationLevelDisplayText }}</th>
                {% endif %}
                <th id="cap" colspan="4">Capacity</th>
                <th id="hrs" colspan="2">Hours</th>
                <th id="cases">Cases</th>
            </tr>
    
            <tr class="headers">
                <th headers="om" id="name">Name</th>
                {% if organisationLevel === 'team' %}
                <th headers="om" id="grade">Grade</th>
                {% endif %}
                <th headers="cap" id="current">Current(%)</th>
                <th headers="cap" id="points">Available Points</th>
                <th headers="cap" id="totalPoints">Total Points Used</th>
                <th headers="cap" id="remaining">Remaining Points</th>
                <th headers="hrs" id="contracted">Contracted</th>
                <th headers="hrs" id="reduction">Reduction</th>
                <th headers="cases" id="total">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for member in overviewDetails %}
            {% if member.name !== 'Total / Average' %}
            <tr>
              <td headers="name om"><a class="govuk-link" href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</td>
            {% if organisationLevel === 'team' %}  
              <td headers="grade om">{{ member.gradeCode }}</td>
            {% endif %}
            {% if member.capacityPercentage > 110 %}
              <td class="capacity-red" headers="current cap">{{ member.capacityPercentage | round(1) }}%</td>
            {% else %}
              <td headers="current cap">{{ member.capacityPercentage | round(1) }}%</td>
            {% endif %}
            <td headers="points cap">{{ member.availablePoints }}</td>
            <td headers="totalPoints cap">{{ member.totalPoints }}</td>
            {% if member.capacityPercentage > 110 %}
              <td class="capacity-red" headers="remaining cap">{{ member.remainingPoints }}</td>
            {% else %}
              <td headers="remaining cap">{{ member.remainingPoints}}</td>
            {% endif %}
            <td headers="hrs contracted">{{ member.contractedHours }}</td>
            <td headers="hrs reduction">{{ member.reductionHours }}</td>
            <td headers="cases total">{{ member.totalCases }}</td>
          </tr>
          {% endif %}
          {% endfor%}
        </tbody>
        <tfoot>
        {% for member in overviewDetails %}
        {% if member.name === 'Total / Average' %}
            <tr>
            <td headers="name om">{{ member.name }}</td>
            {% if organisationLevel === 'team' %}  
              <td headers="grade om">{{ member.gradeCode }}</td>
            {% endif %}
            <td headers="current cap">{{ member.totalCapacityPercentage | round(1) }}%</td>
            <td headers="points cap">{{ member.totalAvailablePoints }}</td>
            <td headers="totalPoints cap">{{ member.totalPoints }}</td>
            <td headers="remaining cap">{{ member.totalRemainingPoints}}</td>
            <td headers="hrs contracted">{{ member.totalContractedHours }}</td>
            <td headers="hrs reduction">{{ member.totalReduction }}</td>
            <td headers="cases total">{{ member.totalTotalCases }}</td>  
            </tr>
            {% endif %}
            {% endfor %}
        </tfoot>
      </table>
    {% endif %}

    
    {% block page_specific_scripts %}
    
        <script src="{{ assetPath }}javascripts/vendor/jquery.min.js"></script>
        <script src="{{ assetPath }}javascripts/datatables.min.js"></script>
        <script src="{{ assetPath }}javascripts/fixed-overview-header.js"></script>
        <script src="{{ assetPath }}javascripts/case-overview.js"></script>
       
    {% endblock %}
