{% if organisationLevel === "offender-manager" %}
<div class="grid-row">
  <div class="column-two-thirds">
    <table>
    <tbody>
        <tr>
        <th scope="row">Grade</th>
        <td class="sln-grade numeric">{{ overviewDetails.grade }}</td>
        </tr>
        <tr>
        <th scope="row">Team</th>
        <td class="numeric"><a href="/team/{{ overviewDetails.teamId }}">{{ overviewDetails.teamName }}</a></td>
        </tr>
        <tr>
        <th scope="row">Capacity</th>
        <td class="numeric"> {{ overviewDetails.capacity | round }}%</td>
        </tr>
        <tr>
        <th scope="row">Cases</th>
        <td class="numeric">{{ overviewDetails.cases }}</td>
        </tr>
        <tr>
        <th scope="row">Contracted hours</th>
        <td class="numeric">{{ overviewDetails.contractedHours }}</td>
        </tr>
        <tr>
        <th scope="row">Reduction</th>
        <td class="numeric">{{ overviewDetails.reduction }}</td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
{% else %}
<table id="example" class="js-data-table data-table dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
    <thead>
      <tr>
        {% if organisationLevel === 'team' %}
          <th class="sln-table-org-level" id="om" colspan="2">{{ organisationLevelDisplayText }}</th>
        {% else %}
          <th class="sln-table-org-level" id="om" >{{ organisationLevelDisplayText }}</th>
        {% endif %}
        <th id="cap" colspan="2">Capacity</th>
        <th id="hrs" colspan="2">Hours</th>
        <th id="cases">Cases</th>
      </tr>

      <tr>
        <th headers="om" id="name" >Name</th>
        {% if organisationLevel === 'team' %}
          <th headers="om" id="grade" >Grade</th>
        {% endif %}
        <th headers="cap" id="current">Current (%)</th>
        <th headers="cap" id="points">Points</th>
        <th headers="hrs" id="contracted">Contracted</th>
        <th headers="hrs" id="reduction">Reduction</th>
        <th headers="cases" id="total">Total</th>
      </tr>
    </thead>
    <tbody>
    {% for member in overviewDetails %}
      <tr >
        <td headers="name om"><a href="/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</td>
        {% if organisationLevel === 'team' %}  
          <td headers="grade om">{{ member.gradeCode }}</td>
        {% endif %}
        <td headers="current cap">{{ member.capacityPercentage | round }}%</td>
        <td headers="points cap">{{ member.availablePoints }}</td>
        <td headers="hrs contracted">{{ member.contractedHours }}</td>
        <td headers="hrs reduction">{{ member.reductionHours }}</td>
        <td headers="cases total">{{ member.totalCases }}</td>
      </tr>
    {% endfor%}
    </tbody>
  </table>
{% endif %}

{% block page_specific_scripts %}
  {% if organisationLevel === 'team' %}
    <script src="{{ asset_path }}javascripts/vendor/jquery.js"></script>
    <script src="{{ asset_path }}javascripts/datatables.min.js"></script>
    <script src="{{ asset_path }}javascripts/case-overview.js"></script>
  {% endif %}    
{% endblock %}