// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";
// This includes entire govuk-elements from _govuk-elements.scss
@import 'govuk-elements';
@import 'select2.scss';
// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// Autocomplete styles from https://github.com/ministryofjustice/prison-visits-public

.js-enabled .non-javascript {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  display: none;
}

table th,
table td {
  border-bottom: 0px;
}

a.blue-link {
  color: #005ea5 !important;
}

a.button:visited{
    color:white !important;
}

div.lastUpdated{
  position: relative;
  left: 70%;
  width: fit-content;
}

td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}

.width800 {
  width: 800px;
}

.width100 {
  width: 100px;
}

.width100Percent {
  width: 100%;
}

.width35Percent {
  width: 35%;
}

.reductionHeader {
  margin-top:0;
  margin-bottom:0;
}

.floatRightBottom10 {
  float: right;
  margin-bottom: 10px;
}

.floatLeftBottom10 {
  float: left;
  margin-bottom: 10px;
}

.marginLeft10 {
  margin-left: 10px;
}

.officerSearchButton {
  width: 96px;
  text-align: center;
  margin-bottom: 48px;
}

.officerSearchHeader {
  margin-top:0;
  margin-bottom:32px;
}

.workloadPointsNoBorder {
  border:none;
  width: 70px;
  outline:none;
  text-align:right;
}

.workloadPointsTextboxEdit {
  width: 70px;
  text-align:right;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.displayInlineBlock {
  display: inline-block;
}

@mixin respond-to($media) {
  @if $media==handhelds {
    @media only screen and (max-width: 568px) {
      @content;
    }
  }
  @else if $media==medium-screens {
    @media only screen and (min-width: 569px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $media==handhelds-landscape{
    @media only screen and (min-width: 569px) and (max-width: 667px) {
      @content;
    }
  }
  @else if $media==wide-screens {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

@import '_wmt/m-iconHelper';
@import '_wmt/wmt-page-heading';
@import '_wmt/wmt-sub-nav';
@import '_wmt/wmt-data-table';
@import '_wmt/wmt-tabs';
@import '_wmt/wmt-message';

@import '_vendor/dataTable';
@import '_vendor/button';

#content, #global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
  max-width: 1100px;
}
