// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";
// This includes entire govuk-elements from _govuk-elements.scss
@import 'govuk-elements';
@import 'select2.scss';
// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// Autocomplete styles from https://github.com/ministryofjustice/prison-visits-public

.js-enabled .non-javascript {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  display: none;
}

table th,
table td {
  border-bottom: 0px;
}

a.blue-link {
  color: #005ea5 !important;
}

a.button:visited{
    color:white !important;
}

div.lastUpdated{
  position: relative;
  left: 70%;
  width: fit-content;
}

td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.custom-file-upload input[type="file"] {
  display: none;
}
label.custom-file-upload {
  display: inline-block;
  margin-bottom: 20px;
}
label.custom-file-upload {
  display: inline-block;
  margin-bottom: 20px;
}
.custom-file-upload {
  padding: 0.526315em 0.789473em 0.263157em;
  background-color: #dee0e2;
  position: relative;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
  .custom-file-upload {
    padding: .526315em .789473em .263157em;
    background-color: #dee0e2;
    position: relative;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c;
  }
}
.remove-upload {
  display: none;
}

@mixin respond-to($media) {
  @if $media==handhelds {
    @media only screen and (max-width: 568px) {
      @content;
    }
  }
  @else if $media==medium-screens {
    @media only screen and (min-width: 569px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $media==handhelds-landscape{
    @media only screen and (min-width: 569px) and (max-width: 667px) {
      @content;
    }
  }
  @else if $media==wide-screens {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

@import '_wmt/m-iconHelper';
@import '_wmt/wmt-page-heading';
@import '_wmt/wmt-sub-nav';
@import '_wmt/wmt-data-table';
@import '_wmt/wmt-tabs';
@import '_wmt/wmt-message';

@import '_vendor/dataTable';
@import '_vendor/button';

#content, #global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
  max-width: 1100px;
}
