# Exclude all VSCode configuration files.
**.vscode/

# Ignore all log files.
**.log*

# Ignore public assets
app/public/*

# Ignore generated dependencies
node_modules
app/govuk_modules

*.log

# Ignore dev assets
errorShots/*
.DS_Store

# Ignore vendor JS files created by gulp
app/assets/javascripts/vendor
