@mixin iconHelper($icon-name, $icon-width: 27px, $icon-height: 27px) {
    @include govuk-device-pixel-ratio {
        background-image: file-url('icon-#{$icon-name}-2x.png');
        background-size: 100%;
    }

    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: file-url('icon-#{$icon-name}.png');

    width: $icon-width;
    height: $icon-height;

    // if psudo element

    display: inline-block;
    position: absolute;
    content: '';
    // $govuk-gutter-half + width (-42px std)
    margin-left: (-$govuk-gutter-half) + (-$icon-width);
}