.wmt-sub-nav {
  font-family: "GDS Transport",arial,sans-serif;
  background-color: #fff;
  border-bottom: 1px solid #bfc1c3;
  padding: 0;
  margin-bottom: 30px;
}

  .wmt-sub-nav__item {
    position: relative;
    display: inline-block;
  }

  .wmt-sub-nav__link:link {
    color: govuk-colour("black");
    display: inline-block;
    margin: 0;
    outline: 0;
    padding: 15px;
    text-decoration: none;
  }

  a:visited {
    color: govuk-colour("black");
  }

  .wmt-sub-nav__link.is-active {
    color: govuk-colour("blue");

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      bottom: -1px;
      left: 0;
      height: 4px;
      background-color: govuk-colour("blue");
    }

    &:hover {
      text-decoration:none;
    }
  }
  
