.message {

    // @include box-sizing(border-box);

    border-left-color: #BFC1C3;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #F8F8F8;
    margin: 0 0 $govuk-gutter;

    >ol > li,
    >ul > li,
    > p {
        max-width: 30em; // Like the .text class
    }

}

// SUPPORTED >= IE7 http://css-tricks.com/attribute-selectors/
[class*='message'] + [class*='message'] {
    margin-top: -$govuk-gutter + 5px;
}

.message {
    padding: $govuk-gutter-half $govuk-gutter-half $govuk-gutter-half $govuk-gutter;
}

.message--failure,
.message--success,
.message--information,
.message--important {
    padding: $govuk-gutter-half $govuk-gutter-half $govuk-gutter-half 60px;
}


.message__heading {
    @include govuk-font(24, $weight: bold);
    max-width: 30em; // Like the .text class
}

.message--success {
  border-left-color: #00823B;
  background-color: mix(#fff, #00823B, 90%);
}
.message--success:before { @include iconHelper('tick'); }

.message--failure:before {
    @include iconHelper('cross');
}