.data-container {
    overflow-y: scroll;
    margin-bottom: 20px;
    overflow-x:scroll;
    overflow-y:visible;
    padding:0;
}

table.fixedHeader-floating {
    position:fixed !important;
    background-color:white;
}

table.fixedHeader-floating.no-footer {
    border-bottom-width:0;
}

table.fixedHeader-locked {
    position:absolute !important;
    background-color:white;
}

@media print{table.fixedHeader-floating{display:none}}

table.data-table {
    max-width: 1020px!important;
}

table#archive-table{
    border: none!important;
    padding-bottom: 20px;
}

table.data-table tr th {
    padding: 0 10px;
    text-align: center;
    background-color:white;
}

table.data-table tr, table.data-table th, table.data-table td {
    border: 2px solid #000000 ;
}

table tr.headers th{
    padding-right: 25px!important;
}

table.data-table tr td{
    padding:5px 10px 5px 10px;
}

table.data-table th, table.data-table td {
    font-size: 16px;
}

table.data-table tr td:not(:first-child) {
    text-align: center;
}

table.data-table tfoot tr {
    background: rgb(199, 192, 192);
}

table.data-table tr td.align-centre{
    text-align: center;
}

table.data-table tr:nth-child(odd){
    padding: 10px 5px;
    min-width: 25px;
}

table.data-table tr th:first-child{
    padding:10px 5px 10px 15px;
}

table.data-table tr td:first-child{
    min-width: 90px!important;
    padding:5px 10px 5px 10px;
}

table.data-table tr.data-sub-header td {
    min-width: 25px;
    font-weight: bold;
    background: #e6f4fb ;
    padding: 5px 10px 5px 10px;
}

table.data-table tr.data-sub-header td:first-child{

   padding: 5px 5px 5px  15px;
}

table.data-table tr.data-sub-header td:first-child,
table.data-table tr.data-sub-header td:nth-child(5),
table.data-table tr.data-sub-header td:nth-child(6),
table.data-table tr.data-sub-header td:nth-child(7) {
    min-width: 60px;
    font-weight: bold;
}

table td.capacity-red {
  color: #e00 !important;
}

table td a:visited {
    color: #005ea5 !important;
}
div.dataTables_length {
    float: left;
}

div.dataTables_filter {
    float: right;
    padding-bottom: 10px;
}

div.dataTables_info {
    float: left;
}

div.dataTables_paginate {
    float: right;
    padding-top: 10px;
}

div.DTTT {
    float: left;
    margin-right: 50px;
}

div.buttons {
    clear: both;
}
.dataTables_paginate .paginate_button{
    box-sizing:border-box;
    display:inline-block;
    min-width:1.5em;
    padding:0.5em 1em;
    margin-left:2px;
    text-align:center;
    text-decoration:none !important;
    cursor:pointer;
    *cursor:hand;
    color:#333 !important;
    border:1px solid transparent;
    border-radius:2px;
}

.dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color:#333 !important;
    border:1px solid #979797;
    background-color:white;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
}

.dataTables_paginate .paginate_button:active{
    outline:none;
    background-color:#2b2b2b;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow:inset 0 0 3px #111
}

.dataTables_paginate .paginate_button:hover{
    color:white !important;
    border:1px solid #111;
    background-color:#585858;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background:-webkit-linear-gradient(top, #585858 0%, #111 100%);
    background:-moz-linear-gradient(top, #585858 0%, #111 100%);
    background:-ms-linear-gradient(top, #585858 0%, #111 100%);
    background:-o-linear-gradient(top, #585858 0%, #111 100%);
    background:linear-gradient(to bottom, #585858 0%, #111 100%)
}

ul.sub-tier-header {
    width: 369px;
    display: block;
    float: left;
    margin: -5px -10px -5px -10px;
}

ul.sub-tier-header li {
    display: inline-block;
    width: 35px;
    font-weight: bold;
    padding: 5px 0;
    background-color: rgba(255,228,157,0.8);
    margin:0;
    float: left;
    border-left: 1px solid #d9d9d9 ;
}

ul.sub-tier-header li:first-child {
    display: inline-block;
    width: 45px;
    padding:5px 5px;
}

ul.sub-tier-header li:nth-child(2) {
    display: inline-block;
    width: 60px;
}

ul.tier {
    width: 369px;
    display: block;
    float: left;
    margin: -10px -10px -10px -10px;
}

ul.tier li {
    display: inline-block;
    width: 35px;
    padding: 5px 0;
    background: rgba(255,228,157,0.5);
    margin:0;
    float: left;
    border-left: 1px solid #d9d9d9 ;
}

ul.tier li:first-child {
    display: inline-block;
    width: 45px;
    padding:5px 5px;
}

ul.tier li:nth-child(2) {
    display: inline-block;
    width: 60px;
}