{% extends "includes/layout.html" %} 

{% block content %}

<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %} 
  
  {% if reduction %}
    {% set headerText='Reduction' %}
    {% set reductionText='Showing reduction for ' %}
    {% set submitButtonText='Save changes' %}
    {% set fromAction='/offender-manager/{{ linkId }}/edit-reduction' %}
  {% else %}
    {% set headerText='New reduction' %}
    {% set reductionText='Add a new reduction for' %}
    {% set submitButtonText='Add reduction' %}
    {% set fromAction='/offender-manager/{{ linkId }}/add-reduction' %}    
  {% endif %}

  {% include "includes/validation-error-messages.html" %}

  <header class="heading-xlarge" style="margin-top:0; margin-bottom:0">{{ headerText }}</header>

  <p class="lede">{{ reductionText }}<span class="bold">{{ title }}</span></p>
  {% set first = true %}
  <form action="{{ formAction }}" method=POST id="reductionForm">
    <input type="hidden" name="reductionId" value="{{reduction.id}}"/>
    <div class="form-group" id="reduction_reason_selection">
      <label class="form-label-bold" for="select-box">Reason for reduction</label>
      {% if errors['reasonForReductionId'][0] %}
        <span class="error-message">{{ errors['reasonForReductionId'][0] }}</span>
      {% endif %}
      <select class="form-control" id="select-box" name="reasonForReductionId" selected="{{ reduction.reasonId }}" onChange="populateHours(), calculateExpiry()"> 
        <option value="select" disabled selected>Please select a reason...</option>
        {% for reason in referenceData %}
        <option value="{{ reason.id }}" {% if reason.id == reduction.reasonId %} selected {% endif %}>{{ reason.reasonShortName }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group" id="reduction_hours">
      {% if errors['reduction-hours'][0] %}
        <span class="error-message">{{ errors['reduction-hours'][0] }}</span>
      {% endif %}
      <label class="form-label-bold" for="hours">Hours</label>
      <input class="form-control" id="hours" name="reduction-hours" style="width: 100px" value="{{reduction.hours}}">
    </div>

    <div class="form-group" id="reduction_start_date">
      <fieldset>
        <legend>
          <span class="form-label-bold">Reduction start date</span>
          <span class="form-hint">For example, 31 3 1980</span>
        </legend>
        {% if errors['reduction_start_date'][0] %}
          <span class="error-message">{{ errors['reduction_start_date'][0] }}</span>
        {% endif %}
        <div class="form-date" id="reduction_start_day">
          <div class="form-group form-group-day">
            <label class="form-label" for="start-day">Day</label>
            <input class="form-control" id="start-day" name="red_start_day" value="{{ reduction.start_day }}" type="number" min="1" pattern="[+-]?[0-9]{1,2}" max="31" onchange="calculateExpiry()">
          </div>
          <div class="form-group form-group-month" id="reduction_start_month">
            <label class="form-label" for="start-month">Month</label>
            <input class="form-control" id="start-month" name="red_start_month" value="{{ reduction.start_month }}" type="number" min="1" pattern="[+-]?[0-9]{1,2}" max="12" onchange="calculateExpiry()">
          </div>
          <div class="form-group form-group-year" id="reduction_start_year">
            <label class="form-label" for="start-year">Year</label>
            <input class="form-control" id="start-year" name="red_start_year" value="{{ reduction.start_year }}" type="number" min="0" pattern="[+-]?[0-9]{1,4}" max="2099" onchange="calculateExpiry()">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-group" id="reduction_end_date">
      <fieldset>
        <legend>
          <span class="form-label-bold">Reduction end date</span>
          <span class="form-hint">For example, 31 3 1980</span>
        </legend>
        {% if errors['reduction_end_date'][0] %}
          <span class="error-message">{{ errors['reduction_end_date'][0] }}</span>
        {% endif %}
        <div class="form-date" id="reduction_end_day">
          <div class="form-group form-group-day">
            <label class="form-label" for="end-day">Day</label>
            <input class="form-control" id="end-day" name="red_end_day" value="{{ reduction.end_day }}" type="number" pattern="[+-]?[0-9]{1,2}" min="1" max="31">
          </div>
          <div class="form-group form-group-month" id="reduction_end_month">
            <label class="form-label" for="end-month">Month</label>
            <input class="form-control" id="end-month" name="red_end_month" value="{{ reduction.end_month }}" type="number" pattern="[+-]?[0-9]{1,2}" min="1" max="12">
          </div>
          <div class="form-group form-group-year" id="reduction_end_year">
            <label class="form-label" for="end-year">Year</label>
            <input class="form-control" id="end-year" name="red_end_year" value="{{ reduction.end_year }}" type="number" pattern="[+-]?[0-9]{1,4}" min="0" max="">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      {% if errors['notes'][0] %}
        <span class="error-message">{{ errors['notes'][0] }}</span>
      {% endif %}
      <label class="form-label-bold" for="textarea">Additional notes</label>
      <textarea class="form-control form-control-3-4" name="notes" id="textarea" rows="5" >{{ reduction.notes }}</textarea>
    </div> 
    {% include "includes/csrf-hidden-input.html"%}
    <input class="button" type="submit" value="{{ submitButtonText }}">
  </form>
  {% if reduction %}
  <h2 class="heading-small">Other options</h2>
  <form name="archiveReduction" method="POST" action="/offender-manager/{{ linkId }}/update-reduction-status">
    <!-- Including the csrf-hidden-input.html hides the links -->
    <input type="hidden"  name="_csrf"  value="{{ csrfToken }}">
    <input type="hidden" name="reductionId" value="{{reduction.id}}">
    <input type="hidden" name="status" value="ARCHIVED">
  </form>
  <form name="deleteReduction" method="POST" action="/offender-manager/{{ linkId }}/update-reduction-status">
    <!-- Including the csrf-hidden-input.html hides the links -->
    <input type="hidden"  name="_csrf"  value="{{ csrfToken }}">
    <input type="hidden" name="reductionId" value="{{ reduction.id }}">
    <input type="hidden" name="status" value="DELETED">
  </form>
  <div>
  <ul>
    <li><a  href="javascript:document.archiveReduction.submit()">Archive reduction</a></li>
    <li><a  href="javascript:document.deleteReduction.submit()">Delete reduction</a></li>
  </ul>
  </div>
  {% endif %}

</main>
{% endblock %} {% block body_end %}
<script type="text/javascript">
  var refData = {{ referenceData | dump | safe }}
</script>
<script src="/public/javascripts/add-reduction.js"></script>
{% endblock %}