{% extends "includes/layout.html" %} 

{% block content %}

<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %}

  {% if reduction %}
    {% set headerText='Reduction' %}
    {% set reductionText='Showing reduction for ' %}
    {% if reduction.status !== 'ARCHIVED' %}
      {% if reduction.id %}
        {% set submitButtonText='Save changes' %}
        {% set formAction='/' + workloadType + '/offender-manager/' +  linkId  + '/edit-reduction' %}
        {% set formMethod='POST' %}
      {% else %}
        {% set headerText='New reduction' %}
        {% set reductionText='Add a new reduction for ' %}
        {% set submitButtonText='Add reduction' %}
        {% set formAction='/' + workloadType + '/offender-manager/' + linkId +'/add-reduction' %}
        {% set formMethod='POST' %}
      {% endif %}
    {% else %}
      {% set submitButtonText='Back to Reductions' %}
      {% set formAction='/' + workloadType + '/offender-manager/' + linkId + '/reductions' %}
      {% set formMethod='GET' %}
    {% endif %}
  {% else %}
    {% set headerText='New reduction' %}
    {% set reductionText='Add a new reduction for ' %}
    {% set submitButtonText='Add reduction' %}
    {% set formAction='/' + workloadType + '/offender-manager/' + linkId +'/add-reduction' %}
    {% set formMethod='POST' %}  
  {% endif %}

  {% include "includes/validation-error-messages.html" %}

  <header class="govuk-heading-xl reductionHeader">{{ headerText }}</header>
  <p class="govuk-body-l">{{ reductionText }}<strong class="bold">{{title}}</strong></p>
  {% set first = true %}
  <form action="{{ formAction }}" method="{{formMethod}}" id="reductionForm">
    <input type="hidden" name="reductionId" value="{{reduction.id}}"/>
    <input type="hidden" id="refData" name="refData" value="{{stringifiedReferenceData}}"/>
    <input type="hidden" id="reductionToPopulate" name="reductionToPopulate" value="{{reductionToPopulate}}"/>
    <input type="hidden" id="reductionEnabled" name="reductionEnabled" value="{{reductionEnabled}}"/>
    <input type="hidden" id="reductionStatus" name="reductionStatus" value="{{reductionStatus}}"/>
    <div class="govuk-form-group  {% if errors['reasonForReductionId'][0] %} govuk-form-group--error {% endif %}" id="reduction_reason_selection">
      <label class="govuk-label govuk-label--s" for="select-box">Reason for reduction</label>
      {% if errors['reasonForReductionId'][0] %}
        <span id="reduction-reason-selection-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors['reasonForReductionId'][0] }}
        </span>
      {% endif %}
      <select class="govuk-select" id="select-box" name="reasonForReductionId" selected="{{ reduction.reasonId }}"> 
        <option value="select" disabled selected>Please select a reason...</option>
        {% for reason in referenceData %}
        <option value="{{ reason.id }}" {% if reason.id == reduction.reasonId %} selected {% endif %}>{{ reason.reasonShortName }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group  {% if errors['reductionHours'][0] %} govuk-form-group--error {% endif %}" id="reduction_hours">
      {% if errors['reductionHours'][0] %}
        <span id="reduction-hours-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors['reductionHours'][0] }}
        </span>
      {% endif %}
      <h6 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="hours">Hours</label>
      </h6>
      <input class="govuk-input govuk-input--width-5 {% if errors['reductionHours'][0] %} govuk-input--error {% endif %}" id="hours" name="reductionHours" value="{{reduction.hours}}">
    </div>

    <div class="govuk-form-group  {% if errors['reductionStartDate'][0] %} govuk-form-group--error {% endif %}" id="reductionStartDate">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="reduction-start-date-hint  {% if errors['reductionStartDate'][0] %} reduction-start-date-error {% endif %}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h6 class="govuk-fieldset__heading">
            Reduction start date
          </h6>
        </legend>
        <div id="reduction-start-date-hint" class="govuk-hint">
          For example, 12 11 2007
        </div>
        {% if errors['reductionStartDate'][0] %}
          <span id="reduction-start-date-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors['reductionStartDate'][0] }}
          </span>
        {% endif %}
        <div class="govuk-date-input" id="reduction-start-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="start-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors['reductionStartDate'][0] %} govuk-input--error {% endif %}" id="start-day" name="redStartDay" value="{{ reduction.start_day }}" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="start-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors['reductionStartDate'][0] %} govuk-input--error {% endif %}"  id="start-month" name="redStartMonth" value="{{ reduction.start_month }}" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="start-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors['reductionStartDate'][0] %} govuk-input--error {% endif %}" id="start-year" name="redStartYear" value="{{ reduction.start_year }}" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
        </div>
    
      </fieldset>
    </div>

    <div class="govuk-form-group  {% if errors['reductionEndDate'][0] %} govuk-form-group--error {% endif %}" id="reductionEndDate">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="reduction-end-date-hint  {% if errors['reductionEndDate'][0] %} reduction-end-date-error {% endif %}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h6 class="govuk-fieldset__heading">
            Reduction end date
          </h6>
        </legend>
        <div id="reduction-end-date-hint" class="govuk-hint">
          For example, 12 11 2007
        </div>
        {% if errors['reductionEndDate'][0] %}
          <span id="reduction-end-date-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors['reductionEndDate'][0] }}
          </span>
        {% endif %}
        <div class="govuk-date-input" id="reduction-end-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="end-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors['reductionEndDate'][0] %} govuk-input--error {% endif %}" id="end-day" name="redEndDay" value="{{ reduction.end_day }}" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="end-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors['reductionEndDate'][0] %} govuk-input--error {% endif %}"  id="end-month" name="redEndMonth" value="{{ reduction.end_month }}" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="end-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors['reductionEndDate'][0] %} govuk-input--error {% endif %}" id="end-year" name="redEndYear" value="{{ reduction.end_year }}" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
        </div>
    
      </fieldset>
    </div>

    <div class="govuk-form-group {% if errors['notes'][0] %} govuk-form-group--error {% endif %}">
      {% if errors['notes'][0] %}
        <span id="reduction-notes-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors['notes'][0] }}
        </span>
      {% endif %}
      <h6 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="textarea">Additional notes</label>
      </h6>
      <textarea class="govuk-textarea {% if errors['notes'][0] %} govuk-textarea--error {% endif %}" name="notes" id="textarea" rows="5">{{ reduction.notes }}</textarea>
    </div> 
    {% include "includes/csrf-hidden-input.html"%}
    <input id="submit-button" class="govuk-button" data-module="govuk-button" type="submit" value="{{ submitButtonText }}">
  </form>
  {% if reduction %}
  <h2 class="govuk-heading-s">Other options</h2>
  <form name="archiveReduction" method="POST" action="/{{ workloadType }}/offender-manager/{{ linkId }}/update-reduction-status">
    <!-- Including the csrf-hidden-input.html hides the links -->
    <input type="hidden"  name="_csrf"  value="{{ csrfToken }}">
    <input type="hidden" name="reductionId" value="{{reduction.id}}">
    <input type="hidden" name="status" value="ARCHIVED">
  </form>
  
  <form name="deleteReduction" method="POST" action="/{{ workloadType }}/offender-manager/{{ linkId }}/update-reduction-status">
    <!-- Including the csrf-hidden-input.html hides the links -->
    <input type="hidden"  name="_csrf"  value="{{ csrfToken }}">
    <input type="hidden" name="reductionId" value="{{ reduction.id }}">
    <input type="hidden" name="status" value="DELETED">
  </form>
 
    {% if reduction.status !== 'ARCHIVED' %}
      <div>
       <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="javascript:document.archiveReduction.submit()">Archive reduction</a>
      </div>
    {% endif %}
    <div>
      <a class="govuk-button govuk-button--warning" href="javascript:document.deleteReduction.submit()">Delete reduction</a>
    </div>
  {% endif %}
  <br>
  <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Audit Log
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table" id="override-govuk-table">
            <thead>
                <tr>
                    <th id="type">Reason</th>
                    <th id="hours">Hours</th>
                    <th id="comments">Comments</th>
                    <th id="start_date">Start Date</th>
                    <th id="end_date">End Date</th>
                    <th id="status">Status</th>
                    <th id="action_date">Date</th>
                    <th id="user">User</th>
                </tr>
            </thead>
            <tbody class="">
                {% for reduction in reductionsHistory %}
                <tr>
                    <td headers="type">{{ reduction.reasonShortName }}</td>
                    <td headers="hours">{{ reduction.hours }}</td>
                    <td headers="comments">{{ reduction.notes }}</td>
                    <td headers="start_date">{{ reduction.reductionStartDate }}</td>
                    <td headers="end_date">{{ reduction.reductionEndDate }}</td>     
                    <td headers="status">{{ reduction.status }}</td>                
                    <td headers="action_date">{{ reduction.updatedDate }}</td>    
                    <td headers="user">{{ reduction.name }}</td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </details>
</main>
{% endblock %} {% block bodyEnd %}
<script src="/public/javascripts/vendor/jquery.min.js"></script>
<script src="/public/javascripts/add-reduction.js"></script>
{% endblock %}