{% extends "includes/layout.html" %} 

{% block content %}

<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %}

  {% include "includes/validation-error-messages.html" %}

  {% include "includes/title-subtitle.html"%}

  {% set first = true %}
  <form action="/add-reduction-reason" method="POST" id="reductionForm">
      
    <div class="form-group" id="reduction_name">
      {% if errors['reductionName'][0] %}
        <span class="error-message">{{ errors['reductionName'][0] }}</span>
      {% endif %}
      <label class="form-label-bold" for="reductionName">Reduction Name</label>
      <input class="form-control width800" id="reductionName" name="reductionName" value="{{reduction.reason}}" maxlength="255">
    </div>

    <div class="form-group" id="reduction_short_name">
      {% if errors['reductionShortName'][0] %}
        <span class="error-message">{{ errors['reductionShortName'][0] }}</span>
      {% endif %}
      <label class="form-label-bold" for="reductionShortName">Abbreviated Reduction Name</label>
      <input class="form-control width800" id="reductionShortName" name="reductionShortName" value="{{reduction.reasonShortName}}" maxlength="255">
    </div>

    <div class="form-group" id="reduction_category">
        {% if errors['category'][0] %}
          <span class="error-message">{{ errors['category'][0] }}</span>
        {% endif %}
        <label class="form-label-bold" for="category">Category</label>
        <select class="form-control" id="category" name="category" selected="{{ reduction.category }}"> 
        <option value="select" disabled selected>Please select a category...</option>
        {% for category in categories %}
          <option value="{{ category.id }}" {% if category.category === reduction.category %} selected {% endif %}>{{ category.category }}</option>
        {% endfor %}
      </select>
      </div>

    <div class="form-group" id="allowance_percentage">
      {% if errors['allowancePercentage'][0] %}
        <span class="error-message">{{ errors['allowancePercentage'][0] }}</span>
      {% endif %}
      <label class="form-label-bold" for="allowancePercentage">Allowance Percentage (Optional)</label>
      <input class="form-control width100" id="allowancePercentage" name="allowancePercentage" value="{{reduction.allowancePercentage}}">
    </div>

    <div class="form-group" id="max_allowance_percentage">
      {% if errors['maxAllowancePercentage'][0] %}
        <span class="error-message">{{ errors['maxAllowancePercentage'][0] }}</span>
      {% endif %}
      <label class="form-label-bold" for="maxAllowancePercentage">Maximum Allowance Percentage (Optional)</label>
      <input class="form-control width100" id="maxAllowancePercentage" name="maxAllowancePercentage" value="{{reduction.maxAllowancePercentage}}">
    </div>

    <div class="form-group" id="months_to_expiry">
        {% if errors['monthsToExpiry'][0] %}
          <span class="error-message">{{ errors['monthsToExpiry'][0] }}</span>
        {% endif %}
        <label class="form-label-bold" for="monthsToExpiry">Months to Expiry (Optional)</label>
        <input class="form-control width100" id="monthsToExpiry" name="monthsToExpiry" value="{{reduction.monthsToExpiry}}">
    </div>

    <div class="form-group" id="is_enabled">
      {% if errors['isEnabled'][0] %}
        <span class="error-message">{{ errors['isEnabled'][0] }}</span>
      {% endif %}
      <label class="form-label-bold" for="isEnabled">Reduction Reason Status</label>
      <select class="form-control" id="isEnabled" name="isEnabled" selected="{{ reduction.isEnabled }}">
          <option value="" disabled selected>Please select a status...</option>
          <option value="true" {% if reduction.isEnabled === true %} selected {% endif %}>Enabled</option>
          <option value="false" {% if reduction.isEnabled === false %} selected {% endif %}>Disabled</option>
      </select>
    </div>


    {% include "includes/csrf-hidden-input.html"%}
    
    <input id="submit-button" class="button" type="submit" value="Add Reduction Reason">
  </form>

</main>
{% endblock %} 
{% block body_end %}
{% endblock %}