{% extends "includes/layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %}
   
  {% include "includes/title-subtitle.html" %}
  <div>
    <div class="column-one-half">
    {% if noAuth===true or userRole==='Data Admin'%}
      <h2 class="heading-medium">
        <a href="/admin/workload-points">Workload points</a>
      </h2>
      <p>Set workload points for standard cases</p>
      <h2 class="heading-medium">
          <a href="/admin/workload-points/t2a">Workload points (T2A)</a>
      </h2>
      <p>Set workload points for Transition to Adulthood cases</p>
      <h2 class="heading-medium">
        <a href="/admin/archive-data">Archive Data</a>
      </h2>
      <p>View Archive Data</p>
    {% else %}
      <h2 class="heading-medium">
        Workload points
      </h2>
      <p>Set workload points for standard cases</p>
      <h2 class="heading-medium">
        Workload points (T2A)
      </h2>
      <p>Set workload points for Transition to Adulthood cases</p>
      <h2 class="heading-medium">
        Archive Data
      </h2>
      <a href="/admin/archive-data">View Archive Data</a>
    {% endif %}
    </div>
    <div class="column-one-half">
      <h2 class="heading-medium">
      {% if noAuth===true or userRole==='System Admin' %}
        <a href="/admin/user">User rights</a>
      {% else %}
        User rights
      {% endif %}
      </h2>
      <p>Manage user rights</p>
    </div>
  </div>

</main>
{% endblock %}