{% extends "includes/layout.html" %}
{% block content %}

<main id="content" role="main">
{% include "includes/breadcrumbs.html" %}
         
 {% include "includes/title-subtitle.html" %}
<table id="example" class="js-data-table data-table dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info"
    style="width: 100%;">
    <thead>
        <tr>
            <th>Cluster</th>
            <th>Team</th>
            <th>Offender Manager Name </th>
            <th>No. Of Cases </th>
            <th>Capacity % </th>
            <th>Reductions</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="{{ asset_path }}javascripts/vendor/jquery.min.js"></script>
<script src="{{ asset_path }}javascripts/datatables.min.js"></script>
<script src="{{ asset_path }}javascripts/archive-data.js"></script>
{% endblock %}