{% extends "includes/layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %}
   
  {% include "includes/title-subtitle.html" %}
  <div>
    <div class="column-one-half">
    {% if authorisation===false or userRole==='Data Admin'%}
      <h2 class="heading-medium">
        <a class="blue-link" href="/archive-data/reductions">Archived Reductions</a>
      </h2>
      <p>View Reductions From before August 2016</p>
      <h2 class="heading-medium">
          <a class="blue-link" href="/archive-data/fortnightly-caseload-data">Fortnightly Caseload Data</a>
      </h2>
      <p>View Average Caseload Data Fortnightly</p>
      <h2 class="heading-medium">
        <a class="blue-link" href="/archive-data/daily-caseload-data">Daily Caseload Data</a>
      </h2>
      <p>View Daily Caseload Data</p>
    {% endif %}
    </div>

</main>
{% endblock %}