{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/validation-error-messages.html" %}
<h2 class="heading-large">
    View your caseload capacity
</h2>

<table class="non-javascript">
    <tr>
        <th></th>
    {% for heading in capacity.headings %}
        <th scope="col">{{ heading | date("MMM DD, YYYY")}}</th>
    {% endfor %}
    </tr>
    <tr>
        <th>Capacity</th>
    {% for i in range(0, capacity.rows[0].values.length)%}
        <td> {{capacity.rows[0].values[i] | round}}% </td>
    {% endfor%}
    </tr>
    <tr>
        <th>Reductions</th>
        {% for i in range(0, capacity.rows[0].values.length)%}
        <td> {{capacity.rows[1].values[i] }}</td>
        {% endfor%}
    </tr>
</table>

<div id="plotly-div-line"></div>

</main>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        var capacityTable = {{ capacity | dump | safe }}
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/public/javascripts/caseload-capacity.js"></script>
{% endblock %}
