{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}
<h2 class="heading-large">
    {{ title }}
</h2>

<table class="non-javascript">
    <tr>
    {% for heading in capacity.headings %}
        <th scope="col">{{ heading }}</th>
    {% endfor %}
    </tr>
    <tr>
    {% for value in capacity.rows[0].values %}
        <td> {{value}}% </td>
    {% endfor %}
    </tr>
</table>

<div id="plotly-div-line"></div>

</main>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        var capacityTable = {{ capacity | dump | safe }}
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/public/javascripts/caseload-capacity.js"></script>
{% endblock %}
