{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

<h2 class="heading-large">
    <span class="heading-secondary">
        {{ subTitle | title }}
    </span>
    {{ title | title }}
</h2>

{% include "includes/sub-nav.html" %}

<table class="non-javascript">
    <tr>
        <th>Community Last 16 Weeks</th>
        <th>License Last 16 Weeks</th>
        <th>Total Cases</th>
        <th>Warrants Total</th>
        <th>Unpaid Work Total</th>
        <th>Overdue Terminations Total</th>
    </tr>
    <tr>
        <td>{{ caseProgress.communityLast16Weeks }}</td>
        <td>{{ caseProgress.licenseLast16Weeks }}</td>
        <td>{{ caseProgress.totalCases }}</td>
        <td>{{ caseProgress.warrantsTotal }}</td>
        <td>{{ caseProgress.unpaidWorkTotal }}</td>
        <td>{{ caseProgress.overdueTerminationsTotal }}</td>
    </tr>
</table>

<div id="plotly-div-cases"></div>

</main>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        var rowTitle = {{ title | dump | safe }}
        var caseProgress = {{ caseProgress | dump | safe }}
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/public/javascripts/case-progress.js"></script>
{% endblock %}