{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %}

<input id="caseProgressList" type="hidden" name="caseProgressList" value="{{ stringifiedCaseProgressList }}">

<table class="non-javascript">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Community Last 16 Weeks</th>
            <th scope="col">License Last 16 Weeks</th>
            <th scope="col">Total Cases</th>
            <th scope="col">Warrants Total</th>
            <th scope="col">Unpaid Work Total</th>
            <th scope="col">Overdue Terminations Total</th>
        </tr>
    </thead>
    <tbody>
    {% for caseProgress in caseProgressList%}
        <tr>
            <th scope="row">{{ caseProgress.name }}</th>
            <td>{{ caseProgress.communityLast16Weeks }}</td>
            <td>{{ caseProgress.licenseLast16Weeks }}</td>
            <td>{{ caseProgress.totalCases }}</td>
            <td>{{ caseProgress.warrantsTotal }}</td>
            <td>{{ caseProgress.unpaidWorkTotal }}</td>
            <td>{{ caseProgress.overdueTerminationsTotal }}</td>
        </tr>
    {% endfor%}
    </tbody>
</table>

<div id="plotly-div-cases" aria-hidden="true"></div>

</main>

{% include "includes/last-updated.html" %}

{% endblock %}

{% block bodyEnd %}
    <script src="/public/javascripts/plotly-latest.min.js"></script>
    <script src="/public/javascripts/case-progress.js"></script>
{% endblock %}
