{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %}

{% if organisationLevel === 'team'%}
<h2 class="heading-large">Caseload totals</h2>

<div id="caseloadSummary" class="grid-row">
  {% for caseType in caseloadDetails %}
    {% if caseType.displayName !== 'Overall' %}
    <div class="column-one-third">
      <div id="{{ caseType.displayName.toLowerCase() }}Total" class="data">
        <span class="data-item bold-xlarge">{{ caseType.totalSummary }}</span>
        <span class="data-item bold-xsmall">{{ caseType.displayName }} cases</span>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

{% include "includes/export.html" %}

{% if organisationLevel === 'team'%}
<h2 class="heading-large">Caseload type breakdown</h2>
<div class="js-tabs">
  <ul class="js-tabs-links">
    {% for caseType in caseloadDetails %}
	    <li><a href="#{{ caseType.displayName.toLowerCase() }}" role="dynamic">{{caseType.displayName | title}}</a></li>
    {% endfor %}
  </ul>
  
  <div class="js-tabs-content">
  {% for caseType in caseloadDetails %}
    <div id="{{caseType.displayName.toLowerCase()}}">
      <h3 class="heading-medium">{{ caseType.displayName | title }} caseload by tier</h3>

      <table class="sln-table-caseload data-table">
        <thead>
          <tr>
            <th colspan="2" id="{{caseType.displayName}}_om">{{ childOrganisationLevelDisplayText }}</th>
            <th colspan="9" id="{{caseType.displayName}}_tiers">Case tiers</th>
          </tr>
          <tr>
            <th id="{{caseType.displayName}}_name">Name</th>
            <th id="{{caseType.displayName}}_grade">Grade</th>
            <th id="{{caseType.displayName}}_untiered">Untiered</th>
            <th id="{{caseType.displayName}}_d2">D2</th>
            <th id="{{caseType.displayName}}_d1">D1</th>
            <th id="{{caseType.displayName}}_c2">C2</th>
            <th id="{{caseType.displayName}}_c1">C1</th>
            <th id="{{caseType.displayName}}_b2">B2</th>
            <th id="{{caseType.displayName}}_b1">B1</th>
            <th id="{{caseType.displayName}}_a">A</th>
            <th id="{{caseType.displayName}}_total">Total</th>
          </tr>
        </thead>

        <tbody class="">
          {% for member in caseType.array %}
            <tr>
              <td headers="{{caseType.displayName}}_om {{caseType.displayName}}_name"><a href="/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a></td>
              <td headers="{{caseType.displayName}}_om {{caseType.displayName}}_grade">{{ member.gradeCode }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ member.untiered }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ member.d2 }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ member.d1 }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ member.c2 }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ member.c1 }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ member.b2 }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ member.b1 }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ member.a }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_total">{{ member.totalCases }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  {% endfor %}

  </div>
</div>

{% elseif organisationLevel !== 'team'%}

<h3 class="heading-medium">Caseload by grade</h3>
  <table class="sln-table-caseload data-table">
    <thead>
      <tr>
        <th colspan="2" id="team">{{ childOrganisationLevelDisplayText }}</th>
        <th colspan="9" id="tiers">Cases by tier</th>
      </tr>
      <tr>
        <th id="name">Name</th>
        <th id="grade">Grade</th>
        <th id="overall">Overall</th>
        <th id="untiered">Untiered</th>
        <th id="d2">D2</th>
        <th id="d1">D1</th>
        <th id="c2">C2</th>
        <th id="c1">C1</th>
        <th id="b2">B2</th>
        <th id="b1">B1</th>
        <th id="a">A</th>
      </tr>
    </thead>
    <tbody class="">
      {% for org in caseloadDetails %}
        {% for i in range(0, org.grades.length) %}
        <tr>
          {% if i === 0 %}
          <td rowspan="{{ org.grades.length }}" headers="name team"><a href="/{{ childOrganisationLevel }}/{{ org.linkId }}">{{ org.name }}</a></td>
          {% endif %}
          <td headers="grade team">{{ org.grades[i].gradeCode }}</td>
          <td headers="overall tiers" class="sln-to-round">{{ org.grades[i].totalCases }}</td>
          <td headers="untiered tiers" class="sln-to-round">{{ org.grades[i].untiered }}</td>
          <td headers="d2 tiers" class="sln-to-round">{{ org.grades[i].d2 }}</td>
          <td headers="d1 tiers" class="sln-to-round">{{ org.grades[i].d1 }}</td>
          <td headers="c2 tiers" class="sln-to-round">{{ org.grades[i].c2 }}</td>
          <td headers="c1 tiers" class="sln-to-round">{{ org.grades[i].c1 }}</td>
          <td headers="b2 tiers" class="sln-to-round">{{ org.grades[i].b2 }}</td>
          <td headers="b1 tiers" class="sln-to-round">{{ org.grades[i].b1 }}</td>
          <td headers="a tiers" class="sln-to-round">{{ org.grades[i].a }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>

{% endif %}

</main>
{% endblock %}

{% block body_end %}
  <script src="/public/javascripts/vendor/jquery.js"></script>
  <script src="/public/javascripts/jquery.tabs.js"></script>
  <script src="/public/javascripts/round-to-one-decimal-place.js"></script>
  <script>
    $(function(){
      $('.js-tabs').tabs();
    });
  </script>

<script>
  document.onload = roundValuesToOneDecimalPlace()
</script>
{% endblock %}