{# WMT0160: add new tiers #}
{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %}

  <h2 class="heading-large">Caseload totals</h2>
  <div id="caseloadSummary" class="grid-row">              
  {% for caseType in caseloadDetails %}
    {% if caseType.displayName !== 'Overall' %}
      <div class="column-one-third">
        <div id="{{ caseType.displayName.toLowerCase() }}Total" class="data">
          <span class="data-item bold-xlarge">{{ caseType.totalSummary }}</span>
          <span class="data-item bold-xsmall">{{ caseType.displayName }} cases</span>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>

  {% include "includes/export-caseload.html" %}

  <h2 class="heading-large">Caseload type breakdown</h2>
  <div class="js-tabs">
    <ul class="js-tabs-links">
      {% for caseType in caseloadDetails %}
	      <li><a href="#{{ caseType.displayName.toLowerCase() }}" role="dynamic">{{caseType.displayName | title}}</a></li>
      {% endfor %}
    </ul>

  {% if organisationLevel === 'team' %}
    <div class="js-tabs-content">
    {% for caseType in caseloadDetails %}
      <div id="{{caseType.displayName.toLowerCase()}}">
        <h3 class="heading-medium">{{ caseType.displayName | title }} caseload by tier</h3>

        <table class="sln-table-caseload-{{caseType.displayName.toLowerCase()}} data-table">
          <thead>
            <tr>
              <th colspan="2" id="{{caseType.displayName}}_om">{{ childOrganisationLevelDisplayText }}</th>
              <th colspan="12" id="{{caseType.displayName}}_tiers">Case tiers</th>
            </tr>
            <tr>
              <th id="{{caseType.displayName}}_name">Name</th>
              <th id="{{caseType.displayName}}_grade">Grade</th>
              <th id="{{caseType.displayName}}_a">A</th>
              <th id="{{caseType.displayName}}_b1">B1</th>
              <th id="{{caseType.displayName}}_b2">B2</th>
              <th id="{{caseType.displayName}}_c1">C1</th>
              <th id="{{caseType.displayName}}_c2">C2</th>
              <th id="{{caseType.displayName}}_d1">D1</th>
              <th id="{{caseType.displayName}}_d2">D2</th>
              <th id="{{caseType.displayName}}_e">E</th>
              <th id="{{caseType.displayName}}_f">F</th>
              <th id="{{caseType.displayName}}_g">G</th>
              <th id="{{caseType.displayName}}_untiered">Untiered</th>              
              <th id="{{caseType.displayName}}_total">Total</th>
            </tr>
          </thead>

          <tbody class="">
            {% for member in caseType.array %}
              <tr>
                <td headers="{{caseType.displayName}}_om {{caseType.displayName}}_name"><a href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a></td>
                <td class="align-centre" headers="{{caseType.displayName}}_om {{caseType.displayName}}_grade">{{ member.grade }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ member.a }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ member.b1 }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ member.b2 }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ member.c1 }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ member.c2 }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ member.d1 }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ member.d2 }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_e">{{ member.e }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_f">{{ member.f }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_g">{{ member.g }}</td>
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ member.untiered }}</td>                
                <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_total">{{ member.totalCases }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" headers="{{caseType.displayName}}_om">Total</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ caseType.array.totals.a | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ caseType.array.totals.b1 | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ caseType.array.totals.b2 | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ caseType.array.totals.c1 | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ caseType.array.totals.c2 | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ caseType.array.totals.d1 | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ caseType.array.totals.d2 | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_e">{{ caseType.array.totals.e | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_f">{{ caseType.array.totals.f | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_g">{{ caseType.array.totals.g | round(1) }}</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ caseType.array.totals.untiered | round(1) }}</td>   
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_total" >{{ caseType.array.totals.overall | round(1) }}</td>   
            </tr>
          </tfoot>
        </table>
      </div>
    {% endfor %}
    </div>

  {% else %}
    <div class="js-tabs-content">     
    {% for caseType in caseloadDetails %}
    {% if caseType.displayName === 'Overall' %}
      <div id="{{caseType.displayName.toLowerCase()}}">
        <h3 class="heading-medium">{{ caseType.displayName | title }} caseload</h3>        
        <table class="sln-table-caseload-overall-summary data-table">
          <thead>
            <tr>
              <th colspan="1" id="org">{{ childOrganisationLevelDisplayText }}</th>
              <th colspan="4" id="totals">Cases totals</th>
            </tr>
            <tr>
              <th id="name">Name</th>
              <th id="community" >Community Total</th>
              <th id="license">License Total</th>
              <th id="custody">Custody Total</th>
              <th id="total">Total</th>
            </tr>
          </thead>
          <tbody class="">
          {% for org in caseType.totalSummary %}
            <tr>
              {% if org.name === 'Total' %}
              <td headers="name org">{{ org.name }}</td>
              {% else %}
              <td headers="name org"><a href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ org.linkId }}">{{ org.name }}</a></td>
              {% endif %}
              <td headers="community totals">{{ org.communityTotalCases }}</td>
              <td headers="license totals">{{ org.licenseTotalCases }}</td>
              <td headers="custody totals">{{ org.custodyTotalCases }}</td>
              <td headers="total totals">{{ org.totalCases }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td headers="name org">Total</td>
            <td headers="community totals">{{caseType.totalsRow.totalCommunity}}</td>
            <td headers="license totals">{{caseType.totalsRow.totalLicense}}</td>
            <td headers="custody totals">{{caseType.totalsRow.totalCustody}}</td>
            <td headers="total totals">{{caseType.totalsRow.totalTotalCases}}</td>
          </tr>
        </tfoot> 
        </table>

        <h3 class="heading-medium">{{ caseType.displayName | title }} caseload by grade</h3>
        <table class="sln-table-caseload-by-grade data-table">
          <thead>
            <tr>
              <th colspan="2" id="{{caseType.displayName}}_om">{{ childOrganisationLevelDisplayText }}</th>
              <th colspan="12" id="{{caseType.displayName}}_tiers">Case tiers</th>
          </tr>
          <tr>
            <th id="{{caseType.displayName}}_name">Name</th>
            <th id="{{caseType.displayName}}_grade">Grade</th>
            <th id="{{caseType.displayName}}_a">A</th>
            <th id="{{caseType.displayName}}_b1">B1</th>
            <th id="{{caseType.displayName}}_b2">B2</th>
            <th id="{{caseType.displayName}}_c1">C1</th>
            <th id="{{caseType.displayName}}_c2">C2</th>
            <th id="{{caseType.displayName}}_d1">D1</th>
            <th id="{{caseType.displayName}}_d2">D2</th>
            <th id="{{caseType.displayName}}_e">E</th>
            <th id="{{caseType.displayName}}_f">F</th>
            <th id="{{caseType.displayName}}_g">G</th>
            <th id="{{caseType.displayName}}_untiered">Untiered</th>          
            <th id="{{caseType.displayName}}_overall">Overall</th>            
          </tr>
        </thead>
        <tbody class="">
          {% for member in caseType.array.detailsPercentages %}
            {% for i in range(0, member.grades.length) %}
            <tr>
              {% if i === 0 %}
              <td rowspan="{{ member.grades.length }}" headers="{{caseType.displayName}}_om {{caseType.displayName}}_name"><a href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a></td>
              {% endif %}
              <td class="align-centre" headers="{{caseType.displayName}}_om {{caseType.displayName}}_grade">{{ member.grades[i].grade }}</td>            
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ member.grades[i].a | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ member.grades[i].b1 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ member.grades[i].b2 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ member.grades[i].c1 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ member.grades[i].c2 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ member.grades[i].d1 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ member.grades[i].d2 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_e">{{ member.grades[i].e | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_f">{{ member.grades[i].f | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_g">{{ member.grades[i].g | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ member.grades[i].untiered | round(1) }}%</td>            
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_overall" >{{ member.grades[i].totalCases | round(1) }}%</td>              
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td rowspan="{{caseType.array.totals | length}}" headers="{{caseType.displayName}}_om">Average</td>
            {% for grade, total in caseType.array.percentageTotals %}
            <td class="align-centre" headers="{{caseType.displayName}}_om {{caseType.displayName}}_grade">{{ grade }}</td> 
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ total.a  | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ total.b1 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ total.b2 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ total.c1 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ total.c2 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ total.d1 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ total.d2 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_e">{{ total.e | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_f">{{ total.f | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_g">{{ total.g | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ total.untiered | round(1) }}%</td>   
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_total" >{{ total.totalCases | round(1) }}%</td>   
          </tr>
          <tr>
          {% endfor %}
        </tfoot>
      </table>
      </div>
    {% else %}
      <div id="{{caseType.displayName.toLowerCase()}}">
        <h3 class="heading-medium">{{ caseType.displayName | title }} caseload by tier</h3>
        <table class="sln-table-caseload-{{caseType.displayName.toLowerCase()}} data-table">
          <thead>
            <tr>
              <th colspan="2" id="{{caseType.displayName}}_om">{{ childOrganisationLevelDisplayText }}</th>
              <th colspan="12" id="{{caseType.displayName}}_tiers">Case tiers</th>
            </tr>
            <tr>
              <th id="{{caseType.displayName}}_name">Name</th>
              <th id="{{caseType.displayName}}_grade">Grade</th>
              <th id="{{caseType.displayName}}_a">A</th>
              <th id="{{caseType.displayName}}_b1">B1</th>
              <th id="{{caseType.displayName}}_b2">B2</th>
              <th id="{{caseType.displayName}}_c1">C1</th>
              <th id="{{caseType.displayName}}_c2">C2</th>
              <th id="{{caseType.displayName}}_d1">D1</th>
              <th id="{{caseType.displayName}}_d2">D2</th>
              <th id="{{caseType.displayName}}_e">E</th>
              <th id="{{caseType.displayName}}_f">F</th>
              <th id="{{caseType.displayName}}_g">G</th>
              <th id="{{caseType.displayName}}_untiered">Untiered</th>              
              <th id="{{caseType.displayName}}_overall">Overall</th>            
            </tr>
          </thead>
          <tbody class="">
            {% for member in caseType.array.details %}
            {% for i in range(0, member.grades.length) %}
              <tr>
                {% if i === 0 %}
                <td rowspan="{{ member.grades.length }}" headers="{{caseType.displayName}}_om {{caseType.displayName}}_name"><a href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a></td>
                {% endif %}
                <td class="align-centre {% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_om {{caseType.displayName}}_grade">{{ member.grades[i].grade }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ member.grades[i].a | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ member.grades[i].b1 | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ member.grades[i].b2 | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ member.grades[i].c1 | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ member.grades[i].c2 | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ member.grades[i].d1 | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ member.grades[i].d2 | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_e">{{ member.grades[i].e | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_f">{{ member.grades[i].f | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_g">{{ member.grades[i].g | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ member.grades[i].untiered | round(1) }}</td>
                <td class="{% if member.grades[i].grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_overall" >{{ member.grades[i].totalCases | round(1) }}</td>
              </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
                <td rowspan="{{caseType.array.totals | length}}" headers="{{caseType.displayName}}_om {{caseType.displayName}}_name">Total</td>
                {% for grade, total in caseType.array.totals %}
                <td class="align-centre {% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_om {{caseType.displayName}}_grade">{{ grade }}</td> 
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ total.a  | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ total.b1 | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ total.b2 | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ total.c1 | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ total.c2 | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ total.d1 | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ total.d2 | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_e">{{ total.e | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_f">{{ total.f | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_g">{{ total.g | round(1) }}</td>
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ total.untiered | round(1) }}</td>   
                <td class="{% if grade == 'Total' %} bold {% endif %}" headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_total" >{{ total.totalCases | round(1) }}</td>   
            </tr>
            <tr>
          {% endfor %}
        </tfoot>
        </table>

        <h3 class="heading-medium">{{ caseType.displayName | title }} caseload by grade</h3>
        <table class="sln-table-caseload-by-grade data-table">
          <thead>
            <tr>
              <th colspan="2" id="{{caseType.displayName}}_om">{{ childOrganisationLevelDisplayText }}</th>
              <th colspan="12" id="{{caseType.displayName}}_tiers">Case tiers</th>
          </tr>
          <tr>
            <th id="{{caseType.displayName}}_name">Name</th>
            <th id="{{caseType.displayName}}_grade">Grade</th>
            <th id="{{caseType.displayName}}_a">A</th>
            <th id="{{caseType.displayName}}_b1">B1</th>
            <th id="{{caseType.displayName}}_b2">B2</th>
            <th id="{{caseType.displayName}}_c1">C1</th>
            <th id="{{caseType.displayName}}_c2">C2</th>
            <th id="{{caseType.displayName}}_d1">D1</th>
            <th id="{{caseType.displayName}}_d2">D2</th>
            <th id="{{caseType.displayName}}_e">E</th>
            <th id="{{caseType.displayName}}_f">F</th>
            <th id="{{caseType.displayName}}_g">G</th>
            <th id="{{caseType.displayName}}_untiered">Untiered</th>          
            <th id="{{caseType.displayName}}_overall">Overall</th>            
          </tr>
        </thead>
        <tbody class="">
          {% for member in caseType.array.detailsPercentages %}
            {% for i in range(0, member.grades.length) %}
            <tr>
              {% if i === 0 %}
              <td rowspan="{{ member.grades.length }}" headers="{{caseType.displayName}}_om {{caseType.displayName}}_name"><a href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a></td>
              {% endif %}
              <td class="align-centre" headers="{{caseType.displayName}}_om {{caseType.displayName}}_grade">{{ member.grades[i].grade }}</td>            
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ member.grades[i].a | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ member.grades[i].b1 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ member.grades[i].b2 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ member.grades[i].c1 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ member.grades[i].c2 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ member.grades[i].d1 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ member.grades[i].d2 | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_e">{{ member.grades[i].e | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_f">{{ member.grades[i].f | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_g">{{ member.grades[i].g | round(1) }}%</td>
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ member.grades[i].untiered | round(1) }}%</td>            
              <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_overall" >{{ member.grades[i].totalCases | round(1) }}%</td>              
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td rowspan="{{caseType.array.totals | length}}" headers="{{caseType.displayName}}_om">Average</td>
            {% for grade, total in caseType.array.percentageTotals %}
            <td class="align-centre" headers="{{caseType.displayName}}_om {{caseType.displayName}}_grade">{{ grade }}</td> 
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_a">{{ total.a  | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b1">{{ total.b1 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_b2">{{ total.b2 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c1">{{ total.c1 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_c2">{{ total.c2 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d1">{{ total.d1 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_d2">{{ total.d2 | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_e">{{ total.e | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_f">{{ total.f | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_g">{{ total.g | round(1) }}%</td>
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_untiered">{{ total.untiered | round(1) }}%</td>   
            <td headers="{{caseType.displayName}}_tiers {{caseType.displayName}}_total" >{{ total.totalCases | round(1) }}%</td>   
          </tr>
          <tr>
          {% endfor %}
        </tfoot>
      </table>

      </div>
    {% endif %}
    {% endfor %}
  </div>

      
{% endif %}
</div>
</main>

<div class="lastUpdated">
     <p>Last updated on  <span class="bold">{{date}}</span></p>
</div>

{% endblock %}

{% block body_end %}
  <script src="/public/javascripts/vendor/jquery.min.js"></script>
  <script src="/public/javascripts/jquery.tabs.js"></script>
  <script src="/public/javascripts/floatThead.js"></script>
  <script src="/public/javascripts/jquery.floatThead.js"></script>

<script>
  $(function(){
      $('.js-tabs').tabs();
    });
</script>

{% endblock %}