{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %}

{% if organisationLevel === "offender-manager" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table" id="override-govuk-table">
    <tbody>
      <tr>
        <th class="bold" scope="row">Grade</th>
        <td class="sln-grade numeric">{{ overviewDetails[0].grade }}</td>
      </tr>
      <tr>
        <th class="bold" scope="row">Team</th>
        <td class="numeric"><a class="govuk-link" href="/court-reports/team/{{ overviewDetails[0].linkId }}">{{ overviewDetails[0].name }}</a></td>
      </tr>
      <tr>
        <th class="bold" scope="row">Contracted hours</th>
        <td class="numeric">{{ overviewDetails[0].contractedHours }}</td>
      </tr>
      <tr>
        <th class="bold" scope="row">Reduction</th>
        <td class="numeric">{{ overviewDetails[0].reduction }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
{% else %}
<div>
  <div id="{{ organisationLevel }}">
    <table class="govuk-table sln-table-overview data-table">
      <thead>
        <tr>
          <th class="sln-table-org-level" id="name">{{ childOrganisationLevelDisplayText }}</th>
          {% if organisationLevel === "team" %}
            <th id="grade">Grade</th>
          {% endif %}
          <th id="total_sdrs">Standard Delivery Reports</th>
          <th id="total_fdrs">Fast Delivery Reports</th>
          <th id="total_oral_reports">Oral Reports</th>
          <th id="contracted_hours">Contracted Hours</th>
          <th id="reduction_hours">Reduction Hours</th>
        </tr>
      </thead>
      <tbody>
        {% for member in overviewDetails %}
        <tr>
          <td headers="name"><a class="govuk-link" href="/court-reports/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a></td>
          {% if organisationLevel === "team" %}
            <td headers="grade">{{ member.grade }}</td>
          {% endif %}
          <td headers="total_sdrs">{{ member.totalSdrs }}</td>
          <td headers="total_fdrs">{{ member.totalFdrs }}</td>
          <td headers="total_oral_reports">{{ member.totalOralReports }}</td>
          <td headers="contracted_hours">{{ member.contractedHours }}</td>
          <td headers="reduction_hours">{{ member.reduction }}</td>
        </tr> 
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}
</main>

{% include "includes/last-updated.html" %}

{% endblock %}

{% block page_specific_scripts %}

    <script src="{{ assetPath }}javascripts/vendor/jquery.min.js"></script>
    <script src="/public/javascripts/floatThead.js"></script>
    <script src="/public/javascripts/jquery.floatThead.js"></script>
   
{% endblock %}