{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %}

{% if organisationLevel === "offender-manager" %}
<div class="grid-row">
  <div class="column-two-thirds">
    <table>
    <tbody>
        <tr>
        <th scope="row">Grade</th>
        <td class="sln-grade numeric">{{ overviewDetails[0].grade }}</td>
        </tr>
        <tr>
        <th scope="row">Team</th>
        <td class="numeric"><a href="/court-reports/team/{{ overviewDetails[0].linkId }}">{{ overviewDetails[0].name }}</a></td>
        </tr>
        <tr>
        <th scope="row">Contracted hours</th>
        <td class="numeric">{{ overviewDetails[0].contractedHours }}</td>
        </tr>
        <tr>
        <th scope="row">Reduction</th>
        <td class="numeric">{{ overviewDetails[0].reduction }}</td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
{% else %}
<div>
  <div id="{{ organisationLevel }}">
    <table class="sln-table-overview data-table">
      <thead>
        <tr>
          <th class="sln-table-org-level" id="name">{{ childOrganisationLevelDisplayText }}</th>
          <th id="grade">Grade</th>
          <th id="total_sdrs">Standard Delivery Reports</th>
          <th id="total_fdrs">Fast Delivery Reports</th>
          <th id="total_oral_reports">Fast Delivery Reports</th>
          <th id="contracted_hours">Contracted Hours</th>
        </tr>
      </thead>
      <tbody>
        {% for member in overviewDetails %}
        <tr>
          <td headers="name"><a href="/court-reports/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a></td>
          <td headers="grade">{{ member.grade }}</td>
          <td headers="total_sdrs">{{ member.totalCasesSdrs }}</td>
          <td headers="total_fdrs">{{ member.totalCasesFdrs }}</td>
          <td headers="total_oral_reports">{{ member.totalCasesOralReports }}</td>
          <td headers="contracted_hours">{{ member.contractedHours }}</td>
        </tr> 
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}


</main>
{% endblock %}