{% extends "includes/layout.html" %} 

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}
 
{% include "includes/title-subtitle.html" %}

{% include "includes/validation-error-messages.html" %}

<form method="post" class="archive-form">
        {% include "includes/csrf-hidden-input.html"%}

         <div class="form-group {% if errors['archiveFromDate'][0] %} form-group-error {% endif %}" id="from">
            {% if errors %}
                <span class="error-message">{{ errors['archiveFromDate'][0] }}</span>
            {% endif %}
            <fieldset id="archiveFromDate">
                <legend>
                    <span class="form-label-bold">
                        Show archive data from:
                    </span>
                    <span class="form-hint" id="daily-archive-from-hint">
                        For example, 30 1 2015 - This date must be on or after 18/06/2014
                    </span>
                </legend>
                <div class="form-date" aria-describedby="daily-archive-from-hint">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="daily-archive-from-day">Day</label>
                        <input class="form-control" id="daily-archive-from-day" name="daily-archive-from-day" 
                            value={{dateRange.fromFields[0] | int}}>
                     </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="daily-archive-from-month">Month</label>
                        <input class="form-control" id="daily-archive-from-month" name="daily-archive-from-month" 
                            value={{dateRange.fromFields[1] | int}}>
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="daily-archive-from-year">Year</label>
                        <input class="form-control" id="daily-archive-from-year" name="daily-archive-from-year" 
                            value={{dateRange.fromFields[2] | int}}>           
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group {% if errors['archiveToDate'][0] %} form-group-error {% endif %}" id="to">
            {% if errors %}
                 <span class="error-message">{{ errors['archiveToDate'][0] }}</span> 
            {% endif %}
            <fieldset id="archiveToDate">
                <legend>
                    <span class="form-label-bold">
                        Show archive data to:
                    </span>
                    <span class="form-hint" id="daily-archive-to-hint">
                        For example, 31 3 2015 - This date must be on or after 19/06/2014
                    </span>
                </legend>
                <div class="form-date" aria-describedby="daily-archive-to-hint">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="daily-archive-to-day">Day</label>
                        <input class="form-control" id="daily-archive-to-day" name="daily-archive-to-day" 
                            value={{dateRange.toFields[0] | int}}>
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="daily-archive-to-month">Month</label>
                        <input class="form-control" id="daily-archive-to-month" name="daily-archive-to-month"
                            value={{dateRange.toFields[1] | int}}>
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="daily-archive-to-year">Year</label>
                        <input class="form-control" id="daily-archive-to-year" name="daily-archive-to-year"
                            value={{dateRange.toFields[2] | int}}>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group" id="daily-multi-search-field">
            <fieldset id="multiSearchDate">
                <legend>
                    <span class="form-label-bold">
                        Search by Offender Manager, Team or LDU Cluster
                    </span>
                    <span class="form-hint" id="daily-multi-search-field-hint">For Example, John Smith</span>
                </legend>
                <div aria-describedby="daily-multi-search-field-hint">
                    <div class="form-group">
                        <label class="form-label" for="daily-multi-search-field-entry">Extra Search Criteria</label>
                        <input class="form-control" id="daily-multi-search-field-entry" name="daily-multi-search-field-entry" value="{{ extraSearchCriteria }}">
                     </div>
                </div>
            </fieldset>
        </div>

        <input id="archive-filter-submit" type="submit" value="Search" class="button" formaction="/archive-data/daily-caseload-data">
        <input id="archive-daily-csv-submit" type="submit" class="button sln-export" style="float: right; margin-left:10px; margin-bottom: 10px" value="Export Archive Data" formaction="/archive-data/daily-caseload-data/archive-csv">
</form>

{% if (results) %}  
<table id="daily-caseload-table" class="js-data-table data-table dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
    <thead>
        <tr class="headers">
            <th id="workloadDate">Workload Date</th>
            <th id="workloadID">Workload ID</th>
            <th id="cluster">Cluster</th>
            <th id="team">Team</th>
            <th id="offenderM">Offender Manager</th>
            <th id="totalCases">Total Cases</th>
            <th id="capacity">Capacity %</th>
            <th id="reductions">Reductions</th>
        </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
            <td>{{ result.workloadDate }}</td>
            <td>{{ result.workloadID }}</td>
            <td>{{ result.lduName }}</td>
            <td>{{ result.teamName }}</td>
            <td>{{ result.omName }}</td>
            <td>{{ result.totalCases }}</td>
            <td>{{ result.capacity }}</td>
            <td>{{ result.hoursReduction }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
</main>

<script src="{{ asset_path }}javascripts/vendor/jquery.min.js"></script>
<script src="{{ asset_path }}javascripts/moment.min.js"></script>
<script src="{{ asset_path }}javascripts/datatables.min.js"></script>
<script src="{{ asset_path }}javascripts/archive-data.js"></script>

{% endblock %}