{% extends "includes/layout.html" %} 

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}
 
{% include "includes/title-subtitle.html" %}

{% include "includes/validation-error-messages.html" %}

<form method="get" class "archive-form">

         <div class="form-group {% if errors['archiveFromDate'][0] %} form-group-error {% endif %}" id="from">
            {% if errors %}
                <span class="error-message">{{ errors['archiveFromDate'][0] }}</span>
            {% endif %}
            <fieldset id="archiveFromDate">
                <legend>
                    <span class="form-label-bold">
                        Show archive data from:
                    </span>
                    <span class="form-hint" id="daily-archive-from-hint">For example, 30 1 2017</span>
                </legend>
                <div class="form-date" aria-describedby="daily-archive-from-hint">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="daily-archive-from-day">Day</label>
                        <input class="form-control" id="daily-archive-from-day" name="daily-archive-from-day" 
                            value={{query[ 'daily-archive-from-day'] | int}}>
                     </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="daily-archive-from-month">Month</label>
                        <input class="form-control" id="daily-archive-from-month" name="daily-archive-from-month" 
                            value={{query[ 'daily-archive-from-month'] | int}}>
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="daily-archive-from-year">Year</label>
                        <input class="form-control" id="daily-archive-from-year" name="daily-archive-from-year" 
                        value={{query[ 'daily-archive-from-year'] | int}}>           
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group {% if errors['archiveToDate'][0] %} form-group-error {% endif %}" id="to">
            {% if errors %}
                 <span class="error-message">{{ errors['archiveToDate'][0] }}</span> 
            {% endif %}
            <fieldset id="archiveToDate">
                <legend>
                    <span class="form-label-bold">
                        Show archive to:
                    </span>
                    <span class="form-hint" id="daily-archive-to-hint">For example, 31 3 2017</span>
                </legend>
                <div class="form-date" aria-describedby="daily-archive-to-hint">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="daily-archive-to-day">Day</label>
                        <input class="form-control" id="daily-archive-to-day" name="daily-archive-to-day" value={{query[ 'daily-archive-to-day'] | int}}>
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="daily-archive-to-month">Month</label>
                        <input class="form-control" id="daily-archive-to-month" name="daily-archive-to-month"
                            value={{query['daily-archive-to-month'] | int}}>
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="daily-archive-to-year">Year</label>
                        <input class="form-control" id="daily-archive-to-year" name="daily-archive-to-year"
                            value={{query['daily-archive-to-year'] | int}}>
                    </div>
                </div>
            </fieldset>
        </div>

        <input id="archive-filter-submit" type="submit" value="Filter" class="button">
</form>

<a href="/archive-data/daily-caseload-data/archive-csv" class="button sln-export" style="float: right; margin-left:10px; margin-bottom: 10px">Export Archive Data</a>
    
<table id="daily-caseload-table" class="js-data-table data-table dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
    <thead>
        <tr class="headers">
            <th id="workloadDate">Workload Date</th>
            <th id="workloadID">Workload ID</th>
            <th id="cluster">Cluster</th>
            <th id="team">Team</th>
            <th id="offenderM">Offender Manager</th>
            <th id="totalCases">Total Cases</th>
            <th id="capacity">Capacity %</th>
            <th id="reductions">Reductions</th>
        </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
            <td>{{ result.workloadDate }}</td>
            <td>{{ result.workloadID }}</td>
            <td>{{ result.lduName }}</td>
            <td>{{ result.teamName }}</td>
            <td>{{ result.omName }}</td>
            <td>{{ result.totalCases }}</td>
            <td>{{ result.capacity }}</td>
            <td>{{ result.hoursReduction }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</main>

<script src="{{ asset_path }}javascripts/vendor/jquery.min.js"></script>
<script src="{{ asset_path }}javascripts/datatables.min.js"></script>
<script src="{{ asset_path }}javascripts/archive-data.js"></script>

<script>
        $(document).ready(function() {
    
        var table = $('.js-data-table').DataTable();
        var data = table.rows().data();
    
        function printData() {
          console.log(data)
        }
      });
</script>

{% endblock %}