{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

    {% include "includes/breadcrumbs.html" %}

    {% include "includes/validation-error-messages.html" %}

    {% include "includes/title-subtitle.html" %}

    {% include "includes/sub-nav.html" %}
    

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table sln-table-reductions" id="override-govuk-table">
                <thead>
                    <tr>
                        <th id="filetype">File Type</th>
                        <th id="time_generated">Date Generated</th>
                        <th id="link"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for dashboardFile in dashboardFiles %}
                    <tr>
                        <td headers="filetype">{{ dashboardFile.file_type | capitalize}}</td>
                        <td headers="time_generated">{{ dashboardFile.date_created }}</td>
                        <td headers="link"><a class="govuk-link" href="/probation/{{ organisationLevel }}/{{ linkId }}/dashboard/download?id={{ dashboardFile.id }}">Download a copy</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% include "includes/last-updated.html" %}

{% endblock %}
