{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{# {% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

  {% include "includes/sub-nav.html" %} #}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">WMT Update in Progress</h1>
      <p>WMT is currently updating. Please try again after <span class="bold">{{ ETA }}</span>.</p>
      <p>If this message is still displayed after this time, please contact the<br/>Technology Service Desk.</p>
    </div>
  </div>

</main>

{% endblock %}