{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{# {% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

  {% include "includes/sub-nav.html" %} #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">WMT Update in Progress</h1>
      <p class="govuk-body">WMT is currently updating. Please try again after <strong>{{ ETA }}</strong>.</p>
      <p class="govuk-body">If this message is still displayed after this time, please contact the<br/>Technology Service Desk.</p>
    </div>
  </div>

</main>

{% endblock %}