{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}  

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %}

<form method="POST" id="expiringReductionsForm">
    {% include "includes/csrf-hidden-input.html"%}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-form-group" id="expiring-reductions-search-field">
                    <fieldset class="govuk-fieldset" id="multiSearchDate">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Search by SPO
                            </h2>
                        </legend>
                        <div class="govuk-hint" id="expiring-reductions-search-field-hint">
                            For Example, John Smith
                        </div>
                        <div aria-describedby="expiring-reductions-search-field-hint">
                            <div class="govuk-form-group">
                                <select class="js-example govuk-input" multiple="multiple" id="search-field" name="expiring-reductions-search-field-entry">
                                    {# <option value="select" disabled selected>Select a user</option> #}
                                    {% for user in users %}
                                        <option class="wmt-option" value="{{ user.id }}"
                                            {% if userId %} 
                                                {% for id in userId %} 
                                                    {% if user.id === id %} 
                                                        selected 
                                                    {% endif %} 
                                                {% endfor %} 
                                            {% endif %}>
                                            {{ user.name}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-form-group">
                    <input id="expiring-reductions-submit" type="submit" value="Search" class="govuk-button" data-module="govuk-button"  formaction="/expiring-reductions-other">
                </div>
            </div>
        </div>

    {% if reductions %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table" id="override-govuk-table">
                {# <colgroup>
                    <col class="width35Percent" span="1">
                </colgroup> #}
                <thead>
                    <tr>
                        <th id="reduction_om_name">Offender Manager</th>
                        <th id="manager_responsible">Manager Responsible</th>
                        <th id="reduction_type">Type</th>
                        <th id="reduction_hours">Hours</th>
                        <th id="reduction_start_date">Start Date</th>
                        <th id="reduction_end_date">End Date</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="">
                    {% for reduction in reductions %}
                    <tr>
                        <td headers="reduction_om_name">{{ reduction.omName }}</td>
                        <td headers="manager_responsible">{{ reduction.managerResponsible }}</td>
                        <td headers="reduction_type">{{ reduction.reductionReason }}</td>
                        <td headers="reduction_hours">{{ reduction.hours }}</td>
                        <td headers="reduction_start_date">{{ reduction.startDate }}</td>
                        <td headers="reduction_end_date">{{ reduction.endDate }}</td>
                        <td><a href="/{{ reduction.workloadType }}/offender-manager/{{ reduction.workloadOwnerId }}/edit-reduction?reductionId={{ reduction.reductionId }}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</form>

</main>

<script src="{{ assetPath }}javascripts/vendor/jquery.min.js"></script>
<script src="{{ assetPath }}javascripts/select2.min.js"></script>
<script src="{{ assetPath }}javascripts/expiring-reductions.js"></script>

{% endblock %}
