{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Workload Measurement Tool
            </h1>

            <ul>
                <li>
                    <a id="caseload-capacity-link" href="/hmpps/0/caseload-capacity">
                        National Level Capacity
                    </a>
                </li>
            </ul>
        </div>
    </div>

</main>

{% endblock %}
