{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge sln-overview-heading">
                Workload Measurement Tool
            </h1>

            <ul>
                <li>
                    <a class="sln-capacity-link" id="caseload-capacity-link" href="/hmpps/0">
                        National Level Capacity
                    </a>
                </li>
                <li>
                    <a class="sln-capacity-link" id="caseload-capacity-link" href="/admin/workload-points">
                        Adjust workload points
                    </a>
                </li>
            </ul>
        </div>
    </div>

</main>

{% endblock %}
