{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

<h2 class="heading-large">
    View your caseload utilisation
</h2>

<table class="non-javascript">
    <tr>
    {% for heading in utilisation.headings %}
        <th scope="col">{{ heading }}</th>
    {% endfor %}
    </tr>
    <tr>
    {% for value in utilisation.rows[0].values %}
        <td> {{value}}% </td>
    {% endfor %}
    </tr>
</table>

<div id="plotly-div-line"></div>

</main>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        var utilisationTable = {{ utilisation | dump | safe }}
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/public/javascripts/my-utilisation.js"></script>
{% endblock %}
