{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %}

{% include "includes/organisation-overview.html"%}

</main>
{% endblock %}

{% block page_specific_scripts %}
  <script src="{{ asset_path }}javascripts/jquery-3.2.1.js"></script>
  <script src="{{ asset_path }}javascripts/jquery.dataTable.min.js"></script>
  <script "{{ asset_path }}javascripts/case-overview.js"></script>
{% endblock %}