{% extends "includes/layout.html" %}  

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %}

{% include "includes/export-caseload.html" %}

{% ifAsync ((organisationLevel === 'region') or (organisationLevel === 'ldu') or (organisationLevel === 'team')) %}
    {% include "includes/export-reductions.html" %}
{% endif %}

{% include "includes/organisation-overview.html"%}

</main>
{% endblock %}