{% extends "includes/layout.html" %} 

{% block content %}
<main id="content" role="main">

    {% include "includes/breadcrumbs.html" %}
    
    {% include "includes/validation-error-messages.html" %} 
    
    {% include "includes/title-subtitle.html"%}
    
    {% include "includes/sub-nav.html" %} 
    
    {% if successText %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            {{successText}}
          </p>
        </div>
      </div>
    {% endif %}

    {% set columnNameType='Type' %}
    {% set columnNameHours='Hours' %}
    {% set columnNameStartDate='Start date' %}
    {% set columnNameEndDate='End date' %}

    <a href="/{{ workloadType }}/offender-manager/{{ linkId }}/add-reduction" class="govuk-button" data-module="govuk-button" >Add a reduction</a>
    
    <h2 id="headingActive" class="govuk-heading-l">Active<span class="visuallyhidden"> reductions</span></h2>
    
    <table class="govuk-table sln-table-reductions" id= "override-govuk-table">
        <colgroup>
            <col class="width35Percent" span="1">
        </colgroup>
        <thead>
            <tr>
                <th id="active_type">{{ columnNameType }}</th>
                <th id="active_hours">{{ columnNameHours }}</th>
                <th id="active_start_date">{{ columnNameStartDate }}</th>
                <th id="active_end_date">{{ columnNameEndDate }}</th>
                <th></th>
            </tr>
        </thead>

        <tbody class="">
            {% if newReduction %}
            <tr>
                <td headers="active_type">{{ newReduction.reasonShortName }}</td>
                <td headers="active_hours">{{ newReduction.hours }}</td>
                <td headers="active_start_date">{{ newReduction.reductionStartDate }}</td>
                <td headers="active_end_date">{{ newReduction.reductionEndDate }}</td>
                <td><a class="govuk-link" href="/{{ workloadType }}/offender-manager/{{ linkId }}/edit-reduction?reductionId={{ newReduction.id }}">View</a></td>
            </tr>
            {% endif %}
            {% for active in activeReductions %}
            <tr>
                <td headers="active_type">{{ active.reasonShortName }}</td>
                <td headers="active_hours">{{ active.hours }}</td>
                <td headers="active_start_date">{{ active.reductionStartDate }}</td>
                <td headers="active_end_date">{{ active.reductionEndDate }}</td>
                <td><a class="govuk-link" href="/{{ workloadType }}/offender-manager/{{ linkId }}/edit-reduction?reductionId={{ active.id }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 id="headingScheduled" class="govuk-heading-l">Scheduled<span class="visuallyhidden"> reductions</span></h2>

    <table class="govuk-table sln-table-reductions" id= "override-govuk-table">
        <colgroup>
            <col class="width35Percent" span="1">
        </colgroup>
        <thead>
            <tr>
                <th id="scheduled_type">{{ columnNameType }}</th>
                <th id="scheduled_hours">{{ columnNameHours }}</th>
                <th id="scheduled_start_date">{{ columnNameStartDate }}</th>
                <th id="scheduled_end_date">{{ columnNameEndDate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="">
            {% for scheduled in scheduledReductions %}
            <tr>
                <td headers="scheduled_type">{{ scheduled.reasonShortName }}</td>
                <td headers="scheduled_hours">{{ scheduled.hours }}</td>
                <td headers="scheduled_start_date">{{ scheduled.reductionStartDate }}</td>
                <td headers="scheduled_end_date">{{ scheduled.reductionEndDate }}</td>                
                <td><a class="govuk-link" href="/{{ workloadType }}/offender-manager/{{ linkId }}/edit-reduction?reductionId={{ scheduled.id }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 id="headingArchived" class="govuk-heading-l">Archived<span class="visuallyhidden"> reductions</span></h2>

    <table class="govuk-table sln-table-reductions" id= "override-govuk-table">
        <colgroup>
            <col class="width35Percent" span="1">
        </colgroup>
        <thead>
            <tr>
                <th id="archived_type">{{ columnNameType }}</th>
                <th id="archived_hours">{{ columnNameHours }}</th>
                <th id="archived_start_date">{{ columnNameStartDate }}</th>
                <th id="archived_end_date">{{ columnNameEndDate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="">
            {% for archived in archivedReductions %}
            <tr>
                <td headers="archived_type">{{ archived.reasonShortName }}</td>
                <td headers="archived_hours">{{ archived.hours }}</td>
                <td headers="archived_start_date">{{ archived.reductionStartDate }}</td>
                <td headers="archived_end_date">{{ archived.reductionEndDate }}</td>
                <td><a class="govuk-link" href="/{{ workloadType }}/offender-manager/{{ linkId }}/edit-reduction?reductionId={{ archived.id }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>

{% include "includes/last-updated.html" %}

{% endblock %}