{% extends "includes/layout.html" %} 

{% block content %}

<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %}
  <header class="heading-xlarge" style="margin-top:0; margin-bottom:32px">Search for an Offender Manager</header>

  <div class='search-group'>
    <fieldset>
        <legend>
          <span class="form-label-bold">Search by Surname</span>
          <span class="form-hint">For example, Smith</span>
          <label class="form-label-bold" for="surname">Surname</label>
          <input class="form-control" id="surname" name="surnameBox" style="width: 256px; margin-bottom: 16px">
        </legend>
    </fieldset>

    {% include "includes/csrf-hidden-input.html"%}
    <input id="search-button" class="button" type="search" value="Search" style="width: 74px; text-align: center; margin-bottom: 48px">
  </div>
  <div class="results">
      <span>
        <label class="form-label" style="display: inline">Show </label>
        <select class="form-control" id="select-box" name="resultsShown" style="width: 64px; display: inline">
            <option value=10>10</option>
            <option value=25>25</option>
            <option value=50>50</option>
            <option value=100>100</option>
        </select>
        <label class="form-label" style="display: inline"> entries</label>
        <label class="form-label-bold" for="search-box" style="display: inline; align-self: flex-end">Search:</label>
        <input class="form-control" id="search-box" name="searchBox" style="width: 128px; margin-bottom: 16px; display: inline;">
      </span>
  </div>
</main>

{% endblock %}{% block body_end %}
<script src="/public/javascripts/vendor/jquery.min.js"></script>
<script>
  $(function(){
      $('#search-button').prop('readonly', true);
      $('#select-box').prop('readonly', true);
  });
</script>
{% endblock %}