{% extends "includes/layout.html" %} 

{% block content %}

<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %}
  <header class="govuk-heading-xl officerSearchHeader">Search for an Offender Manager</header>
    {% include "includes/validation-error-messages.html" %}
   <form method="POST">
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="surname">
            Search by Surname
          </label>
        </h1>
        <div id="surname-hint" class="govuk-hint">
            For example, Smith
        </div>
        <input class="govuk-input" id="surname" name="surnameBox" value="{{ surname }}" type="text" aria-describedby="surname-hint">
      </div>
      {% include "includes/csrf-hidden-input.html" %}
    <input id="search-button" class="govuk-button officerSearchButton" type="submit" value="Search" data-module="govuk-button">
  </form>
  <div class="results">


    <table id="results-table" class="govuk-table js-data-table data-table dataTable width100Percent" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
        <thead>
            <tr class="headers">
                <th id="division">Region</th>
                <th id="ldu">Probation Delivery Unit</th>
                <th id="team">Team</th>
                <th id="surname">Surname</th>
                <th id="forename">Forename</th>
                <th id="link">Link</th>
            </tr>
        </thead>
        <tbody>
            {% if (results) %}
                {% for result in results %}
                <tr>
                    <td>{{ result.region }}</td>
                    <td>{{ result.ldu }}</td>
                    <td>{{ result.team }}</td>
                    <td>{{ result.surname }}</td>
                    <td>{{ result.forename }}</td>
                    <td><a href="/probation/offender-manager/{{ result.workloadOwnerId }}">View</a></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
  </div>
</main>
<script src="/public/javascripts/vendor/jquery.min.js"></script>
<script src="{{ assetPath }}javascripts/datatables.min.js"></script>
<script src="{{ assetPath }}javascripts/search-data.js"></script>
{% endblock %}