{% extends "includes/layout.html" %}


{% block content %}
<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %}

  {% include "includes/title-subtitle.html" %}
  
  {% if rights === 'Manager' %}
    {% set Manager=true %}
  {% elseif rights === 'System Admin' %}
    {% set SystemAdmin=true %}
  {% elseif rights === 'Data Admin' %}
    {% set DataAdmin=true %}
  {% else %}
    {% set Staff=true %}
  {% endif %}

  {% include "includes/validation-error-messages.html" %}

  <form action="/admin/user-rights/{{username}}" method="post" id="userRightForm">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <p class="govuk-body-l">Which user rights would you like to give <span class="govuk-!-font-weight-bold">{{username}}</span>?</p>
        </legend>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="dataAdminRadio" type="radio" name="rights" value="Data Admin" {% if DataAdmin %} checked {% endif %}>
            <label class="govuk-label govuk-radios__label" for="dataAdminRadio">Data admin</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="systemAdminRadio" type="radio" name="rights" value="System Admin" {% if SystemAdmin %} checked {% endif %}>
            <label class="govuk-label govuk-radios__label" for="systemAdminRadio">System admin</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="managerRadio" type="radio" name="rights" value="Manager" {% if Manager %} checked {% endif %}>
            <label class="govuk-label govuk-radios__label" for="managerRadio">Manager</label>
          </div>
          <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="staffRadio" type="radio" name="rights" value="Staff" {% if Staff %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="staffRadio">Staff</label>
            </div>
        </div>
      </fieldset>
    </div>
      <br>

    <div class="govuk-form-group {% if errors['fullname'][0] %} govuk-form-group--error {% endif %}">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="fullname">
        What is this user's name?
        </label>
      </h1>
      <div id="fullname-hint" class="govuk-hint">
        For Example, John Smith
      </div>
      {% if errors['fullname'][0] %}
        <span id="event-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>{{ errors['fullname'][0] }}
        </span>
      {% endif %}
      <input class="govuk-input  {% if errors['fullname'][0] %} govuk-input--error {% endif %}" name="fullname" id="fullname" type="text" aria-describedby="fullname-hint" value="{{ fullname }}">
    </div>

    <div class="form-group">
      <input class="govuk-button" data-module="govuk-button"  type="submit" value="Submit">
    </div>
    {% include "includes/csrf-hidden-input.html"%}
  </form>

</main>
{% endblock %}