{% extends "includes/layout.html" %}


{% block content %}
<main id="content" role="main">
  {% include "includes/breadcrumbs.html" %}

  {% include "includes/title-subtitle.html" %}
  
  {% if rights === 'Manager' %}
    {% set Manager=true %}
  {% elseif rights === 'System Admin' %}
    {% set SystemAdmin=true %}
  {% elseif rights === 'Data Admin' %}
    {% set DataAdmin=true %}
  {% else %}
    {% set Staff=true %}
  {% endif %}

  {% include "includes/validation-error-messages.html" %}

  <form action="/admin/user-rights/{{username}}" method="post" id="userRightForm">
    <div class="form-group">
      <fieldset>
        <legend>
          <p class="lede">Which user rights would you like to give <span class="bold">{{username}}</span>?</p>
        </legend>

        <div class="multiple-choice">
          <input id="dataAdminRadio" type="radio" name="rights" value="Data Admin" {% if DataAdmin %} checked {% endif %}>
          <label for="dataAdminRadio">Data admin</label>
        </div>
        <div class="multiple-choice">
          <input id="systemAdminRadio" type="radio" name="rights" value="System Admin" {% if SystemAdmin %} checked {% endif %}>
          <label for="systemAdminRadio">System admin</label>
        </div>
        <div class="multiple-choice">
          <input id="managerRadio" type="radio" name="rights" value="Manager" {% if Manager %} checked {% endif %}>
          <label for="managerRadio">Manager</label>
        </div>
        <p class="form-block">or</p>
        <div class="multiple-choice">
          <input id="staffRadio" type="radio" name="rights" value="Staff" {% if Staff %} checked {% endif %}>
          <label for="staffRadio">Staff</label>
        </div>
      </fieldset>
      <br>
      <fieldset>
          <legend>
            <p class="lede">What is this user's name?</p>
            <span class="form-hint" id="expiring-reductions-search-field-hint">For Example, John Smith</span>
          </legend>
          {% if errors['fullname'][0] %}
            <span class="error-message">{{ errors['fullname'][0] }}</span>
          {% endif %}
          <input type="text" class="form-control" name="fullname" id="fullname" value="{{ fullname }}">
      </fieldset>
    </div>

    <div class="form-group">
      <input class="button" type="submit" value="Submit">
    </div>
    {% include "includes/csrf-hidden-input.html"%}
  </form>

</main>
{% endblock %}