{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

<h2 class="heading-large">
    View your caseload utilisation
</h2>

<form action="/caseload-utilisation/offendermanager/1" method="get">

    <div class="form-group">
        <fieldset>
            <legend>
                <span class="form-label-bold">
                    Show utilisation from:
                </span>
                <span class="form-hint" id="utilisation-from-hint">For example, 31 3 1980</span>
            </legend>
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label" for="utilisation-from-day">Day</label>
                    <input class="form-control" id="utilisation-from-day" name="utilisation-from-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="utilisation-from-hint">
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label" for="utilisation-from-month">Month</label>
                    <input class="form-control" id="utilisation-from-month" name="utilisation-from-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label" for="utilisation-from-year">Year</label>
                    <input class="form-control" id="utilisation-from-year" name="utilisation-from-year" type="number" pattern="[0-9]*" min="0" max="2017">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset>
            <legend>
                <span class="form-label-bold">
                    Show utilisation to:
                </span>
                <span class="form-hint" id="utilisation-to-hint">For example, 31 3 1980</span>
            </legend>
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label" for="utilisation-to-day">Day</label>
                    <input class="form-control" id="utilisation-to-day" name="utilisation-to-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="utilisation-to-hint">
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label" for="utilisation-to-month">Month</label>
                    <input class="form-control" id="utilisation-to-month" name="utilisation-to-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label" for="utilisation-to-year">Year</label>
                    <input class="form-control" id="utilisation-to-year" name="utilisation-to-year" type="number" pattern="[0-9]*" min="0" max="2017">
                </div>
            </div>
        </fieldset>
    </div>

    <input id="caseload-filter-submit" type="submit" value="filter" class="button">

<form>
<table class="non-javascript">
    <tr>
    {% for heading in utilisation.headings %}
        <th scope="col">{{ heading }}</th>
    {% endfor %}
    </tr>
    <tr>
    {% for value in utilisation.rows[0].values %}
        <td> {{value}}% </td>
    {% endfor %}
    </tr>
</table>

<div id="plotly-div-line"></div>

</main>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        var utilisationTable = {{ utilisation | dump | safe }}
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/public/javascripts/caseload-utilisation.js"></script>
{% endblock %}
